// ==============================
//
// 	The continuous grid is the grid used on the interviews
//	and about pages. Search doesn't exactly belong here, but
//	it's on the interviews page so I put it here.
//
// ==============================

// ==============================
// 	SEARCH BAR
// ==============================
#a-border,
#d-filter {
	position  : relative;
	top       : 0;
	right     : 8%;
	left      : 2%;
	width     : 90%;
	height    : 12vmin;
	background: none;
	z-index   : 200;
	transition: height 0.5s;
	@include respond-to(tablet) {
		position  : fixed;
		height    : 6vw;
		background: white;
		width     : 88vw;
		left      : 6vw;
		right     : 6vw;
	}

	form {
		position: absolute;
		top     : 0;
		right   : 5vw;
		bottom  : 0;
		height  : 1em;
		@include respond-to(tablet) {
			bottom: 0.3rem;
			height: 3em;
			width : 30vw;
			right : 0;
		}
		@include respond-to(laptop) {
			bottom: 0.55rem;

			top   : auto;
			bottom: -0.1rem;
			height: auto;
			width : 30vw;
			right : 0;
		}

		#search-btn {
			display       : inline-block;
			vertical-align: middle;
			height        : 1em;
			width         : 1em;
			margin-right  : 0.5em;

			&:hover {
				cursor: pointer;
			}
			@include respond-to(tablet) {
				display: none;
				height : 3em;
				width  : 3em;
			}

			svg {
				height: 100%;
				width : 100%;
				fill  : $color5;
				stroke: none;
			}
		}
	}

	input {
		position      : relative;
		display       : none;
		right         : 0;
		background    : none;
		border        : none;
		box-shadow    : none;
		border-bottom : 0.13rem solid $color5;
		font-family   : "SubHead";
		font-size     : 0.8rem;
		line-height   : 0.8;
		outline       : none;
		width         : calc(40vw - 2em);
		color         : $color5;
		transition    : all, 0.5s;
		mix-blend-mode: multiply;
		@include respond-to(tablet) {
			position      : absolute;
			bottom        : 0;
			display       : inline-block;
			font-size     : 1.2em;
			line-height   : 1.2;
			padding-bottom: 0.1em;
			width         : 30vw;
		}
		@include respond-to(laptop) {
			font-size    : 4em;
			font-weight  : 900;
			border-bottom: 0.4rem solid $color5;
		}
	}

	input::-webkit-input-placeholder {
		color: $color5;
	}

	input::-moz-placeholder {
		color  : $color5;
		opacity: 1;
	}

	input:-ms-input-placeholder {
		color: $color5;
	}

	.lSearch {
		position  : absolute;
		top       : 20vh;
		right     : 30vw;
		left      : 30vw;
		width     : 40vw;
		background: none;

		input {
			display: inline-block !important;
		}
		@include respond-to(tablet) {
			top  : 20vh;
			right: 25vw;
			left : 25vw;
			width: 50vw;

			input {
				width        : 50vw;
				border-bottom: 0.5rem solid $color5;
				font-size    : 5em;
				font-family  : "Header";
			}

			span {
				font-size: 5em;
			}
		}
	}

	span {
		position      : absolute;
		display       : inline-block;
		vertical-align: middle;
		right         : 0.5rem;
		bottom        : 0;
		font-size     : 0.8em;
		line-height   : 0.8;
		font-weight   : bold;
		color         : $color5;
		opacity       : 0;
		cursor        : pointer;
		transition    : all 0.5s;

		&.active {
			opacity: 1;
		}
		@include respond-to(tablet) {
			top        : 0.5rem;
			bottom     : auto;
			font-size  : 1.2em;
			line-height: 1.2;
		}
		@include respond-to(laptop) {
			font-size: 2em;
		}
	}

	#undo-search {
		position   : absolute;
		right      : 0.25rem;
		top        : 1rem;
		font-size  : 3rem;
		font-weight: bold;
		color      : $color3;
		z-index    : 50;
	}
}

#a-border {
	@include respond-to(tablet) {
		height : 6vw;
		left   : 6vw;
		right  : 6vw;
		z-index: 1;
	}
}

// ==============================
// 	Auto-Complete Filter
// ==============================
//	These items are created by jQuery UI. They are only visible
//	if you inspect the live page, and then only when the search
//	box has focus, so a bit frustrating to style.

ul.ui-autocomplete {
	position  : absolute;
	top       : calc(20vh + 1rem) !important;
	left      : calc(30vw + 1.75em) !important;
	background: none;
	padding   : 0.25rem 0;
	box-shadow: none;
	border    : none;
	z-index   : 200;
	@include respond-to(tablet) {
		top : calc(25vh + 5rem) !important;
		left: 26vw !important;
	}

	li.ui-menu-item {
		box-shadow    : none;
		border        : none;
		padding       : 0.25rem 0;
		color         : $color5;
		list-style    : none;
		cursor        : pointer;
		line-height   : 1;
		mix-blend-mode: multiply;
		font-family   : header;

		.highlight {
			color          : $color1;
			text-decoration: none;
			mix-blend-mode : multiply;
		}

		a {
			color         : $color5;
			mix-blend-mode: multiply;
			font-family   : subhead;

			&:hover {}
		}
		@include respond-to(tablet) {
			font-size: 2.5em;
		}
	}
}

span[role="status"] {
	display: none;
}

.noResults {
	background-image     : url("/assets/images/bike.png");
	background-position  : 20% 50%;
	background-repeat    : no-repeat;
	background-attachment: fixed;

	&::after {
		content : 'Nothing to see here, go find something else silly!';
		display : block;
		position: absolute;
		top     : 60%;
		left    : 50%;
	}
}

// ===================================================================================================
//
// 	88888888888  88                                      ,ad8888ba,               88           88
// 	88           88                                     d8"'    `"8b              ""           88
// 	88           88                                    d8'                                     88
// 	88aaaaa      88   ,adPPYba,  8b,     ,d8           88             8b,dPPYba,  88   ,adPPYb,88
// 	88"""""      88  a8P_____88   `Y8, ,8P'  aaaaaaaa  88      88888  88P'   "Y8  88  a8"    `Y88
// 	88           88  8PP"""""""     )888(    """"""""  Y8,        88  88          88  8b       88
// 	88           88  "8b,   ,aa   ,d8" "8b,             Y8a.    .a88  88          88  "8a,   ,d88
// 	88           88   `"Ybbd8"'  8P'     `Y8             `"Y88888P"   88          88   `"8bbdP"Y8
//
// ===================================================================================================
//
//	Each year of interview results has its own flexbox grid. The layering and randomness is done with
//	javascript, none of that is in the scss code.
//
// ===================================================================================================

main.team {
	margin-bottom: 0;
	padding-top  : 12vw;
	@include respond-to(tablet) {
		padding-top: 0;
	}

	#flex-grid-team {
		width    : 88%;
		max-width: 88%;
		margin   : 6% 6% 0;

		.inner {
			min-height: 0;
			transition: none;
			margin    : 0;
			padding   : 2rem 0;
			@include respond-to(tablet) {
				padding: 2rem 5%;
			}
		}
	}

	#contact-info {
		position: relative;
		margin  : 1vw 5vw;

		h1,
		p {
			color: $color5;
		}
	}
}

section[id^="flex-grid-"] {
	position       : relative;
	display        : flex;
	flex-flow      : row wrap;
	justify-content: space-between;
	width          : 96vw;
	max-width      : 96%;
	margin         : 2vh 2vw;
	padding-bottom : 2rem;
	@include respond-to(phone) {
		width    : 90vw;
		max-width: 90%;
		margin   : 2vh auto 3vh;
	}
}

#page-info {
	background: white;
	padding   : 2em 2em 2em 5em;
	width     : 100%;
	color     : $color5;
	z-index   : 100;

	h1 {
		line-height: 1.0;
		margin-top : 0;
		color      : $color5;
	}

	&::after {
		display: none;
	}
	@include respond-to(phone) {
		width: 55vw;
	}
	@include respond-to(laptop) {
		width: 30vw;
	}
}

h1[id*="year-title-"] {
	position      : relative;
	margin-left   : 5vw;
	color         : $color2;
	font-size     : 4rem;
	margin        : 0 3vw;
	letter-spacing: 0;
	padding-top   : 0.5em;
	transform     : translateY(-5vw);
	z-index       : 200;
	mix-blend-mode: multiply;
	@include respond-to(phone) {
		font-size: 8rem;
	}
}

#year-links {
	position: absolute;
	top     : 2vw;
	right   : 5.5vw;
	z-index : 5;
	@include respond-to(tablet) {
		position: fixed;
		top     : 15vw;
		right   : 4vw;
	}

	.mobile-year-menu {
		display       : inline-block;
		vertical-align: middle;
		@include respond-to(tablet) {
			display: none;
		}

		.arrow-down {
			display       : inline-block;
			vertical-align: middle;
			margin-left   : 0.25em;
			width         : 0;
			height        : 0;
			border-left   : 0.3em solid transparent;
			border-right  : 0.3em solid transparent;
			border-top    : 0.3em solid $color5;
		}
	}

	ul {
		opacity         : 0;
		transform-origin: top center;
		transform       : scaleY(0);
		list-style      : none;
		transition      : all 0.5s;

		&.open {
			transform: scaleY(1);
			opacity  : 1;
			//			transition: all 0.5s;
		}
		@include respond-to(tablet) {
			transform: scaleY(1);
			opacity  : 1;
		}
	}

	li {
		list-style: none;
		@include respond-to(tablet) {
			margin-bottom: 2rem;
		}
	}

	a {
		color      : $color5;
		font-family: subhead;
	}
}

// ========================================================
// 	ENTRY CLASS:
// 	Gets extended, never called directly.
// 	Useful for designer and team thumbnails.
// ========================================================
.entry {
	position      : relative;
	display       : block;
	margin        : 1vw 0 0;
	padding       : 0;
	z-index       : 200;
	mix-blend-mode: normal;
	//The link hides the overflow
	a {
		position  : relative;
		display   : block;
		top       : 0;
		left      : 0;
		height    : 100%;
		width     : 100%;
		overflow  : hidden;
		opacity   : 1;
		transition: none;

		&::before {
			display: none;
		}

		&:hover {
			img {
				opacity: 0.2;
			}

			&::before {
				display: none;
			}
		}
	}
	//Images that are bigger than the container will be centered by this element
	.entry-thumb-cont {
		position      : relative;
		display       : inline-block;
		margin-left   : 50%;
		transform     : translateX(-50%);
		width         : auto;
		height        : 100%;
		margin-top    : 0;
		mix-blend-mode: multiply;
	}
	//Because of the hover scaling, the centering couldn't happen on the image.
	img,
	video {
		position        : relative;
		display         : block;
		transform-origin: center center;
		width           : auto;
		height          : 100%;
		transition      : all 0.5s;
	}

	.entry-title {
		position  : absolute;
		top       : 50%;
		left      : 0;
		right     : 0;
		transform : translateY(-30%);
		text-align: center;
		padding   : 0 2em;
		z-index   : 50;
		transition: all 0.5s;

		h1 {
			font-size: 1.6em;
			@include respond-to(tablet) {
				font-size: 1.3em;
			}
		}

		h2 {
			font-size: 0.9em;
		}
		@include respond-to(tablet) {
			top      : 0;
			transform: none;
			left     : 0;
			right    : 0;
		}
	}

	&.blank {
		display: none;
		@include respond-to(tablet) {
			display: block;
		}
	}
	@include respond-to(laptop) {
		mix-blend-mode: multiply;
	}

	&:hover {
		z-index: 200 !important;
	}
}

// ========================================================
// 	Entries:
// 	Controls aspect ratios of entries as well as
// 	the multiplied color. Responsive sizing is also
//	done here.
// ========================================================
.design-entry {
	@extend .entry;
	width     : 100%;
	height    : 20vh;
	margin-top: 1.5vh;
	opacity   : 0;

	.entry-thumb-cont {
		width     : 80vw;
		height    : auto;
		margin-top: -35vw;
		@include respond-to(phone) {
			width     : auto;
			height    : 100%;
			margin-top: 0;
		}
	}

	img {
		width : 100%;
		height: auto;
		@include respond-to(phone) {
			width : auto;
			height: 100%;
		}
	}

	.entry-title {
		transition: opacity 0.5s;
	}

	.entry-tags {
		position  : absolute;
		top       : 0.5em;
		left      : 0.5em;
		list-style: none;
		opacity   : 0;
		z-index   : 202;
		transition: opacity 0.5s;

		li {
			color  : white;
			z-index: 50;
		}
	}

	.entry-meet {
		position      : absolute;
		bottom        : 0.5em;
		right         : 0.5em;
		opacity       : 0;
		color         : white;
		padding-bottom: 0.05em;
		border-bottom : 0.2em solid white;
		z-index       : 202;
		transition    : opacity 0.5s;
	}

	.entry-title {
		@include respond-to(tablet) {
			height     : 100%;
			padding-top: 1em;
		}
	}

	&:not(.blank) {
		@extend .blue-bg;
	}
	@include respond-to(phone) {
		width : 42vw;
		height: 63vw;
	}
	@include respond-to(tablet) {
		width : 18vw;
		height: 27vw;

		&:hover {
			.entry-meet,
			.entry-tags {
				opacity: 1;
			}

			.entry-title {
				opacity: 0;
			}
		}
	}
	@include respond-to(laptop) {
		width : 12vw;
		height: 18vw;
	}
}

.film-entry {
	@extend .entry;
	@extend .green-bg;
	width     : 100%;
	margin-top: 1.5vh;
	opacity   : 0;

	&.v16-9 {
		height: 56.25vw;
	}

	&.v21-9 {
		height: 42.86vw;

		video {
			margin-top: -6.75%;
		}
	}
	@include respond-to(phone) {
		width: 88vw;

		&.v16-9 {
			height: 49.5vw;
		}

		&.v21-9 {
			height: 37.71vw;
		}

		video {
			width : 88vw;
			height: auto;
		}
	}
	@include respond-to(tablet) {
		width: 54vw;

		&.v16-9 {
			height: 30.38vw;
		}

		&.v21-9 {
			height: 23.14vw;
		}

		video {
			width : 54vw;
			height: auto;
		}
	}
	@include respond-to(laptop) {
		width: 40vw;

		&.v16-9 {
			height: 22.5vw;
		}

		&.v21-9 {
			height: 17.14vw;
		}

		video {
			width : 40vw;
			height: auto;
		}
	}

	.entry-title {
		position: absolute;
		top     : 0;
		left    : 0;
		display : block;
		height  : 100%;

		h1 {
			display      : inline-block;
			height       : 100%;
			padding      : calc(25% - 1.3em) 0;
			border-bottom: 0.1em solid transparent;
			transition   : all 0.5s;
		}
	}

	.entry-description {
		position   : absolute;
		bottom     : 5%;
		left       : 10%;
		line-height: 1;
		opacity    : 0;
		width      : 80%;
		height     : auto;
		color      : white;
		z-index    : 50;
		transform  : translateY(100%);
		transition : all 0.5s;
	}

	&:hover {
		.entry-description {
			opacity  : 1;
			transform: translateY(0);
		}

		.entry-title h1 {
			height       : auto;
			padding      : 6% 0 1%;
			border-bottom: 0.2em solid white;
			margin       : 0;
		}
	}
}
