// ==============================
//
// 	The continuous grid is the grid used on the interviews
//	and about pages. Search doesn't exactly belong here, but
//	it's on the interviews page so I put it here.
//
// ==============================

// ==============================
// 	SEARCH BAR
// ==============================
#d-filter {
	position: fixed;
	top: 0;
	right: 5vw;
	left: 5vw;
	width: 90vw;
	height: 6vw;
	background: white;
	z-index: 200;
	transition: height .5s;

	form {
		position: absolute;
		right: 0;
		bottom: 0;

		@include respond-to(tablet) {
			bottom: 0.3rem;
		}
		@include respond-to(laptop) {
			bottom: 0.55rem;
		}
	}
	input {
		position: relative;
		top: 0;
		right: 0;
		background: none;
		border: none;
		box-shadow: none;
		border-bottom: .15rem solid $color3;
		font-size: 0.8rem;
		line-height: 1.3;
		outline: none;
		width: 30vw;
		color: $color5;
		transition: all, .5s;
		mix-blend-mode: multiply;

		@include respond-to(tablet) {
			font-size: 1.2em;
			line-height: 1.8;
			border-bottom: 0.3em solid $color3;
		}
		@include respond-to(laptop) {
			font-size: 3rem;
			border-bottom: 0.5rem solid $color3;
		}
	}
	.lSearch {
		//		position: absolute;
		top: 25vh;
		right: 20vw;
		width: 50vw;
		background: none;
	}
	span {
		position: absolute;
		right: .5rem;
		bottom: 1rem;
		font-size: 3rem;
		font-weight: bold;
		color: $color3;
		opacity: 0;
		cursor: pointer;
		transition: all .5s;
		&.active {
			right: 21vw;
			top: 20vh;
			opacity: 1;
		}
		&.hideActive {
			opacity: 1;
		}
	}
	#undo-search {
		position: absolute;
		right: .25rem;
		top: 1rem;
		font-size: 3rem;
		font-weight: bold;
		color: $color3;
		z-index: 50;
	}
}

// ==============================
// 	Auto-Complete Filter
// ==============================
//	These items are created by jQuery UI. They are only visible
//	if you inspect the live page, and then only when the search
//	box has focus, so a bit frustrating to style.


ul.ui-autocomplete {
	position: fixed;
	top: calc(25vh + 1rem);
	left: 25vw;
	background: none;
	padding: .2rem;
	box-shadow: none;
	border: none;
	z-index: 200;
	li.ui-menu-item {
		box-shadow: none;
		border: none;
		padding: .5rem;
		font-size: 2.5rem;
		color: $color5;
		list-style: none;
		cursor: pointer;
		text-shadow: .1rem .1rem .1rem rgba(55, 55, 55, 0.5);
		mix-blend-mode: multiply;
		font-family: header;
		.highlight {
			color: $color1;
			text-decoration: none;
			mix-blend-mode: multiply;
		}
		a {
			color: $color5;
			mix-blend-mode: multiply;
			font-family: subhead;
			&:hover {}
		}
	}
}

span[role="status"] {
	display: none;
}

.noResults {
	background-image: url("/assets/images/bike.png");
	background-position: 20% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	&::after {
		content: 'Nothing to see here, go find something else silly!';
		display: block;
		position: absolute;
		top: 60%;
		left: 50%;
	}
}

// ===================================================================================================
//
// 	88888888888  88                                      ,ad8888ba,               88           88
// 	88           88                                     d8"'    `"8b              ""           88
// 	88           88                                    d8'                                     88
// 	88aaaaa      88   ,adPPYba,  8b,     ,d8           88             8b,dPPYba,  88   ,adPPYb,88
// 	88"""""      88  a8P_____88   `Y8, ,8P'  aaaaaaaa  88      88888  88P'   "Y8  88  a8"    `Y88
// 	88           88  8PP"""""""     )888(    """"""""  Y8,        88  88          88  8b       88
// 	88           88  "8b,   ,aa   ,d8" "8b,             Y8a.    .a88  88          88  "8a,   ,d88
// 	88           88   `"Ybbd8"'  8P'     `Y8             `"Y88888P"   88          88   `"8bbdP"Y8
//
// ===================================================================================================
//
//	Each year of interview results has its own flexbox grid. The layering and randomness is done with
//	javascript, none of that is in the scss code.
//
// ===================================================================================================

section[id^="flex-grid-"] {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 80vw;
	margin: 2vh auto 3vh;
	padding-bottom: 2rem;
}

#page-info {
	background: white;
	padding: 2em 2em 2em 5em;
	width: 85vw;
	color: $color5;
	z-index: 100;

	h1 {
		line-height: 1.0;
		margin-top: 0;
		color: $color5;
	}

	&::after {
		display: none;
	}

	@include respond-to(tablet) {
		width: 55vw;
	}
	@include respond-to(laptop) {
		width: 30vw;
	}
}

h1[id*="year-title-"] {
	position: relative;
	margin-left: 5vw;
	color: $color2;
	font-size: 4rem;
	margin: 0 3vw;
	padding-top: 0.5em;
	transform: translateY(-5vw);
	z-index: 100;
	mix-blend-mode: multiply;

	@include respond-to(phone) {
		font-size: 8rem;
	}
}

#year-links {
	position: fixed;
	top: 7vw;
	right: 4.5vw;
	ul {
		list-style: none;
	}
	li {
		list-style: none;
		margin-bottom: 2rem;
	}
	a {
		color: $color3;
		font-family: subhead;
	}
}

// ========================================================
// 	ENTRY CLASS:
// 	Gets extended, never called directly.
// 	Useful for designer and team thumbnails.
// ========================================================
.entry {
	position: relative;
	display: block;
	margin: 1vw 0 0 0;
	padding: 0;
	z-index: 5;
	mix-blend-mode: normal;
	//The link hides the overflow
	a {
		position: relative;
		display: block;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		overflow: hidden;

		&:hover::before {
			display: none;
		}
	}
	//Images that are bigger than the container will be centered by this element
	.entry-thumb-cont {
		position: relative;
		display: inline-block;
		margin-left: 50%;
		transform: translateX(-50%);
		width: auto;
		height: 100%;
		mix-blend-mode: multiply;
		//Because of the hover scaling, the centering couldn't happen on the image.
		img {
			position: relative;
			display: block;
			transform-origin: center center;
			width: auto;
			height: 100%;
			transition: all .5s;
		}
	}
	.entry-title {
		position: absolute;
		top: 5%;
		left: 0;
		right: 0;
		text-align: center;
		padding: 0 1vw .5em;
		z-index: 50;
		transition: all .5s;

		h1 {
			font-size: 1.3em;
		}

		h2 {
			font-size: 1.1em;
		}
	}

	&.blank {
		display: none;

		@include respond-to(tablet) {
			display: block;
		}
	}

	@include respond-to(laptop) {
		mix-blend-mode: multiply;
	}

	&:hover {
		z-index: 100 !important;
		mix-blend-mode: normal;

		img {
			transform: scale(1.2);
			transition: transform 8s;
		}
	}
}

// ========================================================
// 	Entries:
// 	Controls aspect ratios of entries as well as
// 	the multiplied color. Responsive sizing is also
//	done here.
// ========================================================
.design-entry {
	@extend .entry;
	width: 80vw;
	height: 120vw;

	&:not(.blank) {
		@extend .blue-bg;
	}

	@include respond-to(phone) {
		width: 35vw;
		height: 52.5vw;
	}
	@include respond-to(tablet) {
		width: 22vw;
		height: 33vw;
	}
	@include respond-to(laptop) {
		width: 18vw;
		height: 28vw;
	}
	@include respond-to(desktop) {
		width: 12vw;
		height: 18vw;
	}
}

.film-entry {
	@extend .entry;
	@extend .green-bg;
	width: 80vw;
	height: 53.33vw;

	@include respond-to(tablet) {
		width: 55vw;
		height: 36.66vw;
	}
	@include respond-to(desktop) {
		width: 40vw;
		height: 26.66vw;
	}
}
