//Base button, gets extended
.button {
	position: relative;
	display: inline-block;
	margin: 2vw auto 0;
	color: white;
	text-align: center;
	z-index:10;

	span {
		position: relative;
		display: inline-block;
		z-index:20;
	}
}

.button-green {
	@extend .button;
	&::before {
		background-color: darken($color1, 10%);
	}
}

.button-blue {
	@extend .button;
	&::before {
		background-color: darken($color2, 10%);
	}
}
