#d_filter {
	position: relative;
	top: 6rem;
	max-width: 100%;
	margin-left: 3rem;
}

.entry {
	@extend .clearfix;
	position: relative;
	display: block;
	margin: 0;
	padding: 0.5em;
	float: left;

	.entry_thumb_cont {
		position: relative;
		float: right;
		overflow: hidden;

		img {
			position: relative;
			display: block;
			box-shadow: 0.3rem 0.3rem 0 0 $color3;

			.portrait {width: 100%;}
			.landscape {height: 100%;}
		}
	}

	.entry_title {
		position: absolute;
		bottom: 5%;
		left: 0;
		padding: 0 0 0.5em 0.5em;
		opacity: 0.8;
		transform-origin: bottom left;
		transition: all 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);;

		h3 a{
			color: $color2T;
			text-shadow: 0.05em 0.05em 0 $color3;
		}
	}

	&:hover > .entry_title {
		transform: translate(0, -5px);
		transform: scale(1.1);
		opacity: 1;
	}
}

/* ==================================================

  ,ad8888ba,               88           88
 d8"'    `"8b              ""           88
d8'                                     88
88             8b,dPPYba,  88   ,adPPYb,88
88      88888  88P'   "Y8  88  a8"    `Y88
Y8,        88  88          88  8b       88
 Y8a.    .a88  88          88  "8a,   ,d88
  `"Y88888P"   88          88   `"8bbdP"Y8

** ================================================*/

section[id^="d_entries_"] {
	position: relative;
	width: 80vw;
	margin: 0 auto;
	top: 8rem;

	.year_title {
		position: absolute;
		left: -5vw;
		top: 5vh;
		color: $color1;
		text-shadow: 0.1rem 0.1rem $color2;
		z-index: 10;
	}
}

.w-1 {
	width: 20vw;
	.entry_thumb_cont {width: 15vw;}
}

.w-2 {
	width: 40vw;
	.entry_thumb_cont {width: 35vw;}
}

.h-1 {
	height: 20vw;
	.entry_thumb_cont {height: 15vw;}
}

.h-2 {
	height: 40vw;
	.entry_thumb_cont {height: 35vw;}
}

.design_entry {
	@extend .entry;
	@extend .w-1;
	@extend .h-1;
}

.film_entry {
	@extend .entry;
	@extend .w-2;
	@extend .h-2;
}
