*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
html {
}

body {
	transition: color 0.5s;
}

header.header {
	position: fixed;
	display: block;
	top: 5vw;
	right: 97.5vw;
	width: calc(100vh - 10vw);
	padding: 0;
	transform: rotate(270deg);
	transform-origin: right top 0;
	z-index: 10;
	transition: opacity 0.5s;

	nav {
		display: inline-block;
	}
}

nav {
	display: inline-block;
	float: right;

	ul {
		list-style: none;

		li {
			display: inline-block;
			margin-left: 2em;
		}
	}
	a {
		color: $color5;

		&.sel {
			color: $color1;
		}
	}
}

//Visually hide content but leave accessible to screen readers
.aHidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
.oHidden {
	opacity: 0 !important;
}
.dHidden {
	display: none !important;
}

.design main {
	position: relative;
	margin: 5vw;
	padding: 0.25rem;
	background-image: url(/assets/images/soft_wallpaper.png);
	background-repeat: repeat;
	background-position: top left;
	background-color: $color4;
	background-blend-mode: multiply;
	min-height: 85vh;
	transition: all 0.5s;
}
