
// ==============================
//
//	Things that appear on most pages and aren't
//	general typography are here.
//
// ==============================

*,
*::after,
*::before {
	margin    : 0;
	padding   : 0;
	box-sizing: border-box;
	border    : none;
}

html {}

body {
	transition: color 0.5s;
}

.clearfix:after {
	content: "";
	display: block;
	clear  : both;
}

.bg {
	&::after {
		content       : '';
		position      : absolute;
		display       : block;
		top           : 0;
		left          : 0;
		width         : 100%;
		height        : 100%;
		mix-blend-mode: multiply;
		z-index       : 1;
	}
}

.green-bg {
	@extend .bg;

	&::after {
		background: $color1;
	}
}

.blue-bg {
	@extend .bg;

	&::after {
		background: $color2;
	}
}

.tan-bg {
	@extend .bg;

	&::after {
		background: $color4;
	}
}

#bg {
	position        : fixed;
	top             : 0;
	left            : 0;
	width           : 100%;
	height          : 100vh;
	// background-image     : url("/assets/images/soft_wallpaper.png");
	// background-repeat    : repeat;
	// background-position  : top left;
	background-color: $color4;
	// background-blend-mode: multiply;
	z-index         : 1;
	@include respond-to(tablet) {
		top   : 6vw;
		left  : 6vw;
		width : 88vw;
		height: calc(100vh - 6vw);
	}
}

.home-btn {
	display      : none;
	border-bottom: none;
					opacity: 1;

	img {
		position: relative;
		display : block;
		height  : 100%;
		width   : auto;
	}
	@include respond-to(tablet) {
		display : inline-block;
		position: fixed;
		top     : 1vh;
		left    : 1vh;
		height  : 6vh;
		width   : auto;
		z-index : 10;
	}
	@include respond-to(laptop) {
		top: 2vh;
		left: 2vh;
		height: 10vh;
	}
}

.home .home-btn {
	display: none;

}

.design .home-btn,
.italia .home-btn,
.team .home-btn,
.team-vid .home-btn {
	z-index: 202;
}

header.header {
	position        : absolute;
	display         : block;
	top             : -75em;
	left            : 0;
	width           : 100%;
	min-height      : 12vw; //Is this necessary?
	padding         : 0;

	background-color: white;
	z-index         : 201;
	transition      : top 0.5s;
	text-align      : left;
	@include respond-to(tablet) {
		position  : fixed;
		background: none;
		top       : 20vw;
		left      : 0;
		width     : auto;
		min-height: 0;
		height    : 40vh;
		text-align: center;
	}

	&.menuOpen {
		position: fixed;
		top     : 12vmin;
	}
}

nav {
	display: block;
	height : 100%;

	ul {
		list-style     : none;
		display        : flex !important;
		flex-wrap      : wrap;
		flex-direction : row;
		justify-content: space-between;
		align-items    : center;
		height         : auto;
		margin         : 0 2vw;
		@include respond-to(tablet) {
			flex-direction: column;
			flex-wrap     : nowrap;
			height        : 100%;
			margin        : 0;
			width         : 6vw;
		}

		li {
			display               : block;
			margin-left           : 0;
			width                 : 100%;
			line-height           : 4;
			text-align            : center;
			height                : calc(24vh - 3vmin);
			margin                : 0.5vh 0;
			background            : $color4;
			font-variant-ligatures: no-common-ligatures;

			&:first-of-type {
				@include respond-to(tablet) {
					display: none;
				}
			}

			&:last-of-type {
				@include respond-to(tablet) {
					transform: rotate(270deg) translate(100%, -100%);
					margin   : 0;
				}
			}
			@include respond-to(tablet) {
				transform-origin: center right;
				transform       : translateX(-50%) rotate(270deg);
				margin          : 0;
				padding         : 0;
				line-height     : 1.8;
				height          : auto;
				width           : auto;
				text-align      : left;
				background      : none;
			}
		}
	}

	a {
		color        : $color5;
		font-size    : 4em;
		font-family  : "Header";
		border-bottom: none;
		opacity: 1;
		//Vertical Centering hack...
		height       : calc(25vh - 3vmin);
		line-height  : calc(25vh - 3vmin);
		@include respond-to(tablet) {
			color      : $color5;
			font-size  : 1.2em;
			font-family: "SubHead";
			height     : auto;
			line-height: 1;
		}

		&.sel::before {
			left      : 0;
			visibility: visible;
			transform : scaleX(1);
		}
	}
}

//Visually hide content but leave accessible to screen readers
.aHidden {
	position: absolute !important;
	clip    : rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip    : rect(1px, 1px, 1px, 1px);
	padding : 0 !important;
	border  : 0 !important;
	height  : 1px !important;
	width   : 1px !important;
	overflow: hidden;
}

.oHidden {
	opacity: 0 !important;
}

.dHidden {
	display: none !important;
}

main.design,
main.team #flex-grid-team .inner {
	position       : relative;
	display        : flex;
	flex-flow      : row wrap;
	justify-content: space-between;
	margin         : 12vw 0 0;
	padding        : 0;
	min-height     : 85vh;
	width          : 100%;
	transition     : all 0.5s;
	@include respond-to(tablet) {
		margin : 6vw;
		padding: 0.25em;
		width  : 88vw;
	}
}

main.italia,
main.v {
	margin-top: 12vw;
	@include respond-to(tablet) {
		margin-top: 0;
	}
}

main.team {
	background-image     : url("/assets/images/soft_wallpaper.png");
	background-repeat    : repeat;
	background-position  : top left;
	background-color     : $color4;
	background-blend-mode: multiply;
	@include respond-to(tablet) {
		background: none;
	}

	#flex-grid-team .inner {
		background: none;
		@include respond-to(tablet) {}
	}
}

// 8888888
//   888
//   888
//   888   .d8888b .d88b.  88888b.  .d8888b
//   888  d88P"   d88""88b 888 "88b 88K
//   888  888     888  888 888  888 "Y8888b.
//   888  Y88b.   Y88..88P 888  888      X88
// 8888888 "Y8888P "Y88P"  888  888  88888P'
//
// =============================================================================

$tcon-size: 8vw !default;
$tcon-transition: 0.3s !default;
$tcon-jstransform: 'tcon-transform' !default;

$tcon-menu-radius: 0 !default;
$tcon-menu-color: $color1 !default;
$tcon-menu-arrowleft-transformation: ( transform: scale3d(.8, .8, .8) rotate3d(0, 0, 1, 90deg) ) !default;
$tcon-menu-arrow360left-transformation: ( transform: scale3d(.8, .8, .8) rotate3d(0, 0, 1, 360deg) ) !default;

.tcon {
	appearance                 : none;
	border                     : none;
	cursor                     : pointer;
	display                    : flex;
	justify-content            : center;
	align-items                : center;
	height                     : $tcon-size;
	transition                 : $tcon-transition;
	user-select                : none;
	width                      : $tcon-size;
	background                 : transparent;
	outline                    : none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;

	> * {
		display: block;
	}

	&:focus,
	&:hover {
		outline: none; // see issue #36 https://github.com/grayghostvisuals/transformicons/issues/36
	}

	&::-moz-focus-inner {
		border: 0;
	}
}
@mixin tcon-menu-lines {
	display       : inline-block;
	height        : ($tcon-size / 7);
	width         : $tcon-size;
	border-radius : $tcon-menu-radius;
	transition    : $tcon-transition;
	background    : $tcon-menu-color;
	mix-blend-mode: multiply;
}

.tcon-menu__lines {
	@include tcon-menu-lines;
	position: relative;

	&::after,
	&::before {
		@include tcon-menu-lines;
		content         : '';
		position        : absolute;
		left            : 0;
		transform-origin: ($tcon-size / 14) center;
		width           : 100%;
	}

	&::before {
		top: ($tcon-size / 4);
	}

	&::after {
		top: -($tcon-size / 4);
	}

	.#{$tcon-jstransform} & {
		transform: scale3d(.8, .8, .8);
	}
}

//The Menu Button
.tcon-menu--xcross {
	position  : absolute;
	top       : 0;
	left      : 0;
	margin    : 0;
	height    : 12vmin;
	width     : 100%;
	z-index   : 202;
	background: white;
	@include respond-to(tablet) {
		display: none;
	}

	&.menuOpen {
		position: fixed;
		top     : 0;
		left    : 0;
	}

	&.#{$tcon-jstransform} {
		.tcon-menu__lines {
			background: transparent;

			&::after,
			&::before {
				transform-origin: 50% 50%;
				top             : 0;
				width           : $tcon-size;
			}

			&::before {
				transform: rotate3d(0, 0, 1, 45deg);
			}

			&::after {
				transform: rotate3d(0, 0, 1, -45deg);
			}
		}
	}
}
// see issue #7 https://github.com/grayghostvisuals/transformicons/issues/7#issuecomment-59813596
.tcon-visuallyhidden {
	border  : 0;
	clip    : rect(0 0 0 0);
	height  : 1px;
	margin  : -1px;
	overflow: hidden;
	padding : 0;
	position: absolute;
	width   : 1px;

	&:active,
	&:focus {
		clip    : auto;
		height  : auto;
		margin  : 0;
		overflow: visible;
		position: static;
		width   : auto;
	}
}
$tcon-search-size: ($tcon-size * 0.75) !default;
$tcon-search-radius: ($tcon-size / 14) !default;
$tcon-search-color: black !default;
$tcon-search-glass-color: white !default;
$tcon-search-handle-width: ($tcon-size / 10) !default;
$tcon-search-glass-radius: ($tcon-size / 3.3333) !default;
$tcon-search-glass-border-width: ($tcon-size / 20) !default;
@mixin search-item {
	display      : inline-block;
	height       : $tcon-search-size;
	width        : $tcon-search-size;
	border-radius: 0;
	transition   : $tcon-transition;
	background   : transparent;
}

.tcon-search__item {
	@include search-item;
	position : relative;
	transform: rotate(-45deg);

	&::after,
	&::before {
		@include search-item;
		content : '';
		position: absolute;
		width   : 100%;
		top     : 0;
		bottom  : 0;
		margin  : auto;
	}

	&::before {
		height       : $tcon-search-handle-width;
		left         : 0;
		background   : $tcon-search-color;
		border-radius: $tcon-search-radius;
	}

	&::after {
		right           : 0;
		background      : $tcon-search-glass-color;
		border-radius   : 50%;
		width           : $tcon-search-glass-radius;
		height          : $tcon-search-glass-radius;
		border          : $tcon-search-glass-border-width solid black;
		transform-origin: 50% 50%;
	}
}

.tcon-search--xcross {
	&.#{$tcon-jstransform} {
		transform: scale3d(.8, .8, .8);

		.tcon-search__item {
			&::after,
			&::before {
				border-radius: $tcon-search-radius;
				background   : $tcon-search-color;
			}

			&::after {
				height   : $tcon-search-handle-width;
				width    : 100%;
				top      : 0;
				right    : 0;
				border   : 0;
				transform: rotate3d(0, 0, 1, 90deg);
			}
		}
	}
}
$spinner_speed: 0.675s !default;
$spinner_radius: 80% !default;
$spinner_fill_radius: 90px !default;

$spinner_size: 40px !default;
$spinner_thickness: 10px !default;
$spinner_inner_circle: $spinner_size - $spinner_thickness !default;

$spinner_color: black !default;
$spinner_bg: lightgray !default;
$spinner_inner_bg: white !default;

.tcon-loader--spinner360 {
	border-radius: 80%;
	display      : block;
	height       : $spinner_size;
	width        : $spinner_size;
	position     : relative;
	animation    : tcon-spin360 $spinner_speed linear infinite forwards;
	background   : $spinner_bg;

	&:after,
	&:before {
		content : "";
		display : block;
		position: absolute;
	}

	&:before {
		border-radius   : 0 $spinner_fill_radius $spinner_fill_radius 0;
		height          : $spinner_size;
		width           : 50%;
		top             : 0;
		right           : 0;
		z-index         : 1;
		background      : $spinner_color;
		background-image: linear-gradient($spinner_bg, $spinner_color);
	}

	&:after {
		border-radius: $spinner_radius;
		height       : $spinner_inner_circle;
		width        : $spinner_inner_circle;
		top          : 50%;
		left         : 50%;
		transform    : translate(-50%, -50%);
		z-index      : 1;
		background   : $spinner_inner_bg;
	}
}
@keyframes tcon-spin360 {
	to {
		transform: rotate(360deg);
	}
}
