// =================================================================================
//
//	 88888888888                                   88
// 	88                         ,d                 ""
// 	88                         88
// 	88aaaaa      8b,dPPYba,  MM88MMM  8b,dPPYba,  88   ,adPPYba,  ,adPPYba,
// 	88"""""      88P'   `"8a   88     88P'   "Y8  88  a8P_____88  I8[    ""
// 	88           88       88   88     88          88  8PP"""""""   `"Y8ba,
// 	88           88       88   88,    88          88  "8b,   ,aa  aa    ]8I
// 	88888888888  88       88   "Y888  88          88   `"Ybbd8"'  `"YbbdP"'
//
// ===============================================================================

[class*='-section'] {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	box-shadow: 0.05rem 0.05rem 0.1rem $shadow;
	.inner {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: white;
	}
	h1,
	p {
		position: relative;
		z-index: 20;
		color: white;
		transition: opacity 0.5s;
	}
	h1 {
		letter-spacing: 0.2rem;
		font-size: 2rem;
	}
	[class^='button-'] {
		transition: opacity 0.5s;
	}
	.v-title {
		position: absolute;
		top: 4rem;
		left: 2rem;
		z-index: 8;
	}
	.v-thumbnail {
		position: relative;
		width: 100%;
		height: auto;
		mix-blend-mode: multiply;
		z-index: 1;
	}
	.v-description {
		position: absolute;
		top: 7rem;
		left: 5rem;
		width: 50%;
		z-index: 8;
	}
}

//==========================================
//	HOMEPAGE ENTRIES
//==========================================
#home-play {
	margin: 7vw 0 0 7vw;
	width: 86vw;
	height: calc(100vh - 14vw);
	background-color: $color4;
	background-image: url("/assets/images/soft_wallpaper.png");
	background-position: top left;
	background-repeat: repeat;
	animation-delay: 0.75s;
	background-blend-mode: multiply;
	.inner {
		display: flex;
		height: 100%;
	}
	#home-play-logo {
		margin: auto;
		width: 50vmin;
		height: auto;
	}
}

#home-about {
	margin-top: 13vw;
	margin-left: 21.5vw;
	width: 72vw;
	height: calc(100vh - 18vw);
	background-color: $color1;
	background-image: url("/assets/images/team_pic_small.png");
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	animation-delay: 0.5s;
	background-blend-mode: multiply;
	&.bgHidden {
		background-color: $color1;
		background-image: url("");
	}
	.inner {
		float: right;
		margin-top: 8%;
		margin-right: 2vw;
		width: 34vw;
		height: 100%;
		text-align: center;
		h1,
		p {
			text-align: left;
		}
		p {
			margin: 3em 0 0 20%;
		}
	}
}

#home-videos {
	margin-top: 6vw;
	margin-left: 5vw;
	width: 80%;
	height: calc(100vh - 14vw);
	box-shadow: none;
	color: white;
	animation-delay: 0.25s;
	animation-fill-mode: forwards;

	#home-interviews {
		position: relative; //		height: 100%;
		padding: 3vw;
		width: 45vw;
		box-shadow: 0.05rem 0.05rem 0.1rem $shadow;
		text-align: center;
		@extend .blue-bg;
		h1,
		p {
			position: relative;
			display: block;
			margin-top: 2vw;
			color: white;
			text-align: left;
		}
		h1 {
			margin-left: 4vw;
		}
		p {
			margin-left: 6vw;
		}
		.inner {
			top: -2vw;
			left: -2vw;
		}
	}
	#home-films {
		position: absolute;
		top: 12vw;
		left: 30vw; //		height: 50%;
		padding: 3vw;
		width: 45vw;
		text-align: center;
		@extend .blue-bg;
		h1 {
			margin-top: 3vw;
			margin-left: 7vw;
			text-align: left;
		}
		p {
			margin-top: 1vw;
			margin-left: 9vw;
			text-align: left;
		}
		&::after {
			z-index: 1;
		}
	}
}

#v-header.home-section {
	background: none;
	box-shadow: none;
}

//==========================================
//	ITALIA ENTRIES
//==========================================
#italia-content {
	width: 80vw;
}

[id^='italia-'] {
	width: 60vw;
	height: 25.71vw;
	overflow: hidden;
}

#italia-intro {
	margin-top: 17vw;
	margin-left: 25vw;
	width: 30vw;
	height: 13.71vw;
	background: white;
	.inner {
		padding: 1em;
		h2,
		p {
			position: relative;
			color: $color5;
			margin-top: 0.5em;
		}
		p {
			margin-left: 1em;
		}
	}
}

#italia-pace {
	@extend .green-bg;
	margin-top: 5vw;
	margin-left: 5vw;
}

#italia-workers {
	@extend .blue-bg;
	margin-top: 15vw;
	margin-left: 35vw;
}

#italia-italy {
	@extend .tan-bg;
	margin-top: 25vw;
	margin-left: 20vw;
}

//==========================================
//	INTERVIEW ENTRIES
//==========================================
main:not([class*='child']) #v-intro {
	opacity: 0;
}

#v-intro {
	position: relative;
	margin: 10vw auto 0 auto;
	height: calc(100vh - 25vw);
	box-shadow: none;
	animation-delay: 0.75s;
	animation-fill-mode: forwards;

	#v-contents {
		position: absolute;
		top: 0;
		left: 5%;
		padding: 1.5em 3% 3% 3%;
		width: 35%;
		min-height: 75%;
		@extend .green-bg;

		#v-chapter-ind {
			position: absolute;
			top: 3.5em;
			width: 105%;
			height: 3em;
			margin-left: -1em;
			//FIXME: This will for sure cause problems once the play button is added...
			transition: margin-top 0.3s ease-in-out;
			@extend .green-bg;

			&::before {
				content: '';
				position: absolute;
				display: block;
				left: 0.75em;
				top: 0.625em;
				width: 0;
				height: 0;
				z-index: 20;
				border-top: 1em solid transparent;
				border-left: 2em solid white;
				border-bottom: 1em solid transparent;
			}
		}
		&::after {
			z-index: 1;
		}
	}

	.v-contents-title {
		margin-top: 0;
	}

	.v-chapter {
		position: relative;
		display: table;
		width: 100%;
		height: 3em;
		z-index: 8;

		a {
			display: table-cell;
			height: 100%;
			width: 100%;
			vertical-align: middle;

			&:hover::before {
				display: none;
			}
		}

		.v-chapter-number {
			width: 3em;
			font-size: 1.5rem;
		}

		.v-chapter-number, .v-chapter-title, .v-chapter-duration {
			position: relative;
			display: inline-block;
			height: 1em;
			margin: 0;
			font-family: Header;
			color: white;
		}

		.v-chapter-duration {
			float: right;
			font-family: body;
		}
	}

	#v-description {
		position: absolute;
		bottom: 0;
		right: 5%;
		padding: 4% 6%;
		width: 57%;
		height: 70%;
		@extend .blue-bg;

		.inner {
			opacity: 1;
			transition: opacity 0.5s;
		}
	}
}

#v-context {
	margin-top: 8vw;
	margin-left: 14vw;
	width: 70vw;
	box-shadow: none;
}


/* =================================================================================

  ,ad8888ba,               88           88
 d8"'    `"8b              ""           88
d8'                                     88
88             8b,dPPYba,  88   ,adPPYb,88
88      88888  88P'   "Y8  88  a8"    `Y88
Y8,        88  88          88  8b       88
 Y8a.    .a88  88          88  "8a,   ,d88
  `"Y88888P"   88          88   `"8bbdP"Y8

** ===============================================================================*/

.is-scrollable {
	position: relative !important;
}
