// =================================================================================
//
//	Basically everything but the interviews page uses this. It's sectioned off
//	by which page is being styled. This isn't just the grid cards, but also the
//	layout for all the blocks within the grid.
//
// =================================================================================

// =================================================================================
//
//	 88888888888                                   88
// 	88                         ,d                 ""
// 	88                         88
// 	88aaaaa      8b,dPPYba,  MM88MMM  8b,dPPYba,  88   ,adPPYba,  ,adPPYba,
// 	88"""""      88P'   `"8a   88     88P'   "Y8  88  a8P_____88  I8[    ""
// 	88           88       88   88     88          88  8PP"""""""   `"Y8ba,
// 	88           88       88   88,    88          88  "8b,   ,aa  aa    ]8I
// 	88888888888  88       88   "Y888  88          88   `"Ybbd8"'  `"YbbdP"'
//
// ===============================================================================
//
//	General stuff that applies to all stacking grids
//
// ===============================================================================

.is-scrollable {
	position: relative !important;
}

.top-lock {
	position: fixed;
}

.scrollHide {
	@include respond-to(tablet) {
		opacity: 0;
		transition: opacity 0.1s;
	}
}

[class*='-section'] {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	box-shadow: 0.01rem 0.01rem 1rem rgba(50, 50, 50, 0.2);

	@include respond-to(tablet) {
		position: fixed;
	}
	
	.inner {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: white;
	}
	h1,
	p {
		position: relative;
		z-index: 20;
		color: white;
		transition: opacity 0.5s;
	}
	[class^='button-'] {
		transition: opacity 0.5s;
	}
	.v-title {
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		margin: auto;
		height: 1em;
		z-index: 8;
		text-align: center;
		@include respond-to(tablet) {
			margin: 0;
			top: 4rem;
			left: 2rem;
			text-align: left;
		}
	}
	.v-thumbnail {
		position: relative;
		width: 100%;
		height: auto;
		mix-blend-mode: multiply;
		z-index: 1;
	}
	.v-description {
		display: none;
		top: 100%;
		@include respond-to(tablet) {
			position: absolute;
			display: block;
			top: 7rem;
			left: 5rem;
			width: 50%;
		}
		z-index: 8;
	}
}

/*==========================================

88        88
88        88
88        88
88aaaaaaaa88   ,adPPYba,   88,dPYba,,adPYba,    ,adPPYba,
88""""""""88  a8"     "8a  88P'   "88"    "8a  a8P_____88
88        88  8b       d8  88      88      88  8PP"""""""
88        88  "8a,   ,a8"  88      88      88  "8b,   ,aa
88        88   `"YbbdP"'   88      88      88   `"Ybbd8"'

//========================================*/

.home main {
	width: 100%;
	padding: 0 5vw;

	@include respond-to(tablet) {
		width: auto;
		padding: 0;
	}
}

[id^='home-'] {
	margin: 0 0 2vw 0;
	width: 100%;
}

#home-play {
	margin-top: 12vmin;
	height: 90vw;
	background-color: $color4;
	animation-delay: 0.75s;

	@include respond-to(tablet) {
		margin: 8vw 0 0 8vw;
		width: 86vw;
		height: calc(100vh - 14vw);
	}

	.inner {
		display: flex;
		height: 100%;
	}
	#home-play-logo {
		margin: auto;
		width: 50vmin;
		height: auto;
	}
}

#home-about {
	background-color: $color1;
	background-image: url("/assets/images/working.jpg");
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	animation-delay: 0.5s;
	background-blend-mode: multiply;

	@include respond-to(tablet) {
		margin-top: 13.5vw;
		margin-left: 21.5vw;
		width: 73vw;
		height: calc(100vh - 18vw);
	}

	&.bgHidden {
		background-color: $color1;
		background-image: url("");
	}
	.inner {
		padding: 3vw;
		text-align: center;

		@include respond-to(tablet) {
			float: right;
			margin-top: 8%;
			margin-right: 6vw;
			width: 36vw;
			height: 100%;
		}

		h1,
		p {
			text-align: left;
			margin: 0 0 0 0%;
		}
		p {
			margin: 2em 0 0 0%;
		}
	}
}

#home-videos {
	box-shadow: none;
	color: white;
	animation-delay: 0.25s;
	animation-fill-mode: forwards;

	@include respond-to(tablet) {
		margin-top: 7vw;
		margin-left: 6.5vw;
		width: 80%;
		height: calc(100vh - 14vw);
	}

	#home-interviews {
		position: relative;
		padding: 1vw;
		text-align: center;
		@extend .blue-bg;

		@include respond-to(tablet) {
			padding: 3vw;
			width: 40vw;
			box-shadow: 0.01rem 0.01rem 0.1rem $shadow;
		}
		h1 {
			margin-top: 3vw;
			margin-left: 6vw;
			text-align: left;
		}
		p {
			margin-top: 2vw;
			margin-left: 6vw;
			text-align: left;
		}
		.inner {
			top: -2vw;
			left: -2vw;
		}
	}
	#home-films {
		position: relative;
		padding: 3vw;
		text-align: center;
		@extend .blue-bg;

		@include respond-to(tablet) {
			position: absolute;
			top: 12vw;
			left: 35vw; //		height: 50%;
			padding: 3vw;
			width: 40vw;
		}
		h1 {
			margin-top: 3vw;
			margin-left: 6vw;
			text-align: left;
		}
		p {
			margin-top: 2vw;
			margin-left: 6vw;
			text-align: left;
		}
		&::after {
			z-index: 1;
		}
	}
}

#v-header.home-section {
	background: none;
	box-shadow: none;
}

/*==========================================

88                       88  88
88    ,d                 88  ""
88    88                 88
88  MM88MMM  ,adPPYYba,  88  88  ,adPPYYba,
88    88     ""     `Y8  88  88  ""     `Y8
88    88     ,adPPPPP88  88  88  ,adPPPPP88
88    88,    88,    ,88  88  88  88,    ,88
88    "Y888  `"8bbdP"Y8  88  88  `"8bbdP"Y8

//========================================*/
#italia-content {
	width: 80vw;
}

[id^='italia-'] {
	width: 100%;
	height: 42.86vw;
	margin-top: 1em;
	overflow:hidden;

	@include respond-to(tablet) {
		width: 60vw;
		height: 25.71vw;
	}

	a {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		padding-top: 25%;
		z-index: 8;
		color: white;
		text-align: center;
		@include respond-to(tablet) {
			text-align: left;
			top: 75%;
			left: 5rem;
			height: auto;
			width: auto;
			padding-top: 0;
		}
	}
}

#italia-intro {
	height: auto;
	margin-top: 12vw;
	@include respond-to(tablet) {
		margin-top: 17vw;
		margin-left: 25vw;
		width: 30vw;
		height: 13.71vw;
		background: white;
	}
	.inner {
		padding: 1em;
		h2,
		p {
			position: relative;
			color: $color5;
			margin-top: 0.5em;
		}
		p {
			margin-left: 1em;
		}
	}
}

#italia-pace {
	@extend .green-bg;
	@include respond-to(tablet) {
		margin-top: 5vw;
		margin-left: 5vw;
	}
}

#italia-workers {
	@extend .blue-bg;
	@include respond-to(tablet) {
		margin-top: 15vw;
		margin-left: 35vw;
	}
}

#italia-italy {
	@extend .tan-bg;
	@include respond-to(tablet) {
		margin-top: 25vw;
		margin-left: 20vw;
		margin-bottom: calc(100vh - 50.71vw);
	}
}

/*==========================================

       db         88  88     8b           d8  88           88
      d88b        88  88     `8b         d8'  ""           88
     d8'`8b       88  88      `8b       d8'                88
    d8'  `8b      88  88       `8b     d8'    88   ,adPPYb,88   ,adPPYba,   ,adPPYba,   ,adPPYba,
   d8YaaaaY8b     88  88        `8b   d8'     88  a8"    `Y88  a8P_____88  a8"     "8a  I8[    ""
  d8""""""""8b    88  88         `8b d8'      88  8b       88  8PP"""""""  8b       d8   `"Y8ba,
 d8'        `8b   88  88          `888'       88  "8a,   ,d88  "8b,   ,aa  "8a,   ,a8"  aa    ]8I
d8'          `8b  88  88           `8'        88   `"8bbdP"Y8   `"Ybbd8"'   `"YbbdP"'   `"YbbdP"'

//========================================*/

/*main:not([class*='child']) #v-intro {
	opacity: 0;
}*/

#v-intro {
	margin: 0 auto;
	width: 98vw;
	box-shadow: none;
	animation-delay: 0.75s;
	animation-fill-mode: forwards;

	@include respond-to(tablet) {
		height: calc(100vh - 25vw);
		margin: 10vw auto 0 auto;
		width: auto;
	}
	@include respond-to(laptop) {
		width:90vw;
		height: calc(100vh - 20vw);
		margin: 10vw auto 0 auto;
	}

	.v-portrait {
		position:absolute;
		top: 0%;
		left: 10%;
		height: 75%;
		width: auto;
	}

	#v-contents, #v-description {
		position: relative;
		width: 100%;
		margin: 0;
		min-height: 49%;
	}

	#v-contents {
		left: 0;
		top: 0;
		padding: 1.5em 3% 3% 3%;
		@extend .green-bg;

		@include respond-to(tablet) {
			position: absolute;
			left: 5%;
			width: 35%;
			min-height: 75%;
		}
		@include respond-to(laptop) {
		}

		/*@media (orientation: portrait) {
			width: 70%;
			height: 43%;
			min-height: 0;
		}*/

		.quote {
			font-size: 1.5em;
			padding-left: 30%;
			margin-top: 2%;
		}

		.v-chapter-container {
			position: relative;
		}

		#v-chapter-ind {
			position: absolute;
			display: none;
			top: 0;
			width: 125%;
			height: 3em;
			margin-left: -1em;
			//FIXME: This will for sure cause problems once the play button is added...
			transition: margin-top 0.3s ease-in-out;
			@extend .green-bg;

			@include respond-to(tablet) {
				display: block;
			}

			&::before {
				content: '';
				position: absolute;
				display: block;
				left: 0.75em;
				top: 0.625em;
				width: 0;
				height: 0;
				z-index: 20;
				border-top: 1em solid transparent;
				border-left: 2em solid white;
				border-bottom: 1em solid transparent;
			}
		}
		&::after {
			z-index: 1;
		}
	}

	.v-contents-title {
		margin-top: 0;
	}

	.v-chapter {
		position: relative;
		display: table;
		width: 100%;
		height: 3em;
		z-index: 8;

		a {
			display: table-cell;
			height: 100%;
			width: 100%;
			vertical-align: middle;

			&:hover::before {
				display: none;
			}
		}

		.v-chapter-number {
			width: 3em;
			font-size: 1.5rem;

			@media (orientation: portrait) {
				line-height: 1;
				width: 2em;
			}
		}

		.v-chapter-number, .v-chapter-title, .v-chapter-duration {
			position: relative;
			display: inline-block;
			height: 1em;
			margin: 0;
			font-family: Header;
			color: white;

			@media (orientation: portrait) {
				height: auto;
			}
		}

		.v-chapter-title {
			@media (orientation: portrait) {
				width: calc(100% - 7em);
			}
		}

		.v-chapter-duration {
			float: right;
			font-family: body;
		}
	}

	#v-description {
		margin-top: 1vh;
		right: 0;
		padding: 4% 6%;
		@extend .blue-bg;

		@include respond-to(tablet) {
			margin-top: 0;
			position: absolute;
			right: 5%;
			bottom: 0;
			width: 57%;
			height: 70%;
		}

		/*@media (orientation: portrait) {
			bottom: 10%;
			height: 50%;
		}*/

		.inner {
			opacity: 1;
			transition: opacity 0.5s;
		}
	}
}

/*==========================================

888888888888
     88
     88
     88   ,adPPYba,  ,adPPYYba,  88,dPYba,,adPYba,
     88  a8P_____88  ""     `Y8  88P'   "88"    "8a
     88  8PP"""""""  ,adPPPPP88  88      88      88
     88  "8b,   ,aa  88,    ,88  88      88      88
     88   `"Ybbd8"'  `"8bbdP"Y8  88      88      88

//========================================*/

main.team-vid {
	#v-intro #v-contents {
		left: 25%;
		top: 7%;
		padding-bottom: 1%;
		min-height:0;

		.v-contents-title {
			padding-left: 22%;
			display: inline-block;
		}
	}
	#v-intro #v-description {
		width: 55%;
		right: 15%;
		top: calc(7% + 4.5em);
		height: 60%;

		.v-chapter-desc {
			top: 15%;
		}
	}
}

#team-about {
	position: fixed;
	margin-top: 15vw;
	margin-left: 15vw;
	width: 60vw;
	height: 50vh;
	padding: 2em;
	background-color: $color1;
	background-image: url("/assets/images/team_pic_small.png");
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	animation-delay: 0.5s;
	background-blend-mode: multiply;
}

main.team #flex-grid-team {
	position: fixed;
	margin: 6vw 5vw 0 5vw;
	width: 90vw;
	box-shadow: none;
}

/*=======================================================================

88b           d88                                   88
888b         d888                ,d                 ""
88`8b       d8'88                88
88 `8b     d8' 88  ,adPPYYba,  MM88MMM  8b,dPPYba,  88  8b,     ,d8
88  `8b   d8'  88  ""     `Y8    88     88P'   "Y8  88   `Y8, ,8P'
88   `8b d8'   88  ,adPPPPP88    88     88          88     )888(
88    `888'    88  88,    ,88    88,    88          88   ,d8" "8b,
88     `8'     88  `"8bbdP"Y8    "Y888  88          88  8P'     `Y8

**=====================================================================*/

//Context information - it's contained in the matrix fields everything is styling.
#v-context {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: flex-start;
	padding: 1em;
	margin-top: 8vw;
	margin-left: 5vw;
	width: 90vw;
	box-shadow: none;

	a[class*="link"] {
		margin: 0;
		padding: 0;
	}

	.qa {
		position: relative;
		display: block;
		height: 60vh;
		width: 30vw;
		padding: 2em;
		margin-top: 20vh;
		z-index: 10;
		background-color: $color1;
		mix-blend-mode: multiply;
	}
}

[class*="v-mat"] {
	margin: 0.5em;
}


/*=========================
IMAGES
**=======================*/

.v-mat-img-container {
	position: relative;
	display: inline-block;

	&.large {
		width: auto;
		height: 55vh;
	}

	&.small {
		width: auto;
		height: 30vh;
	}

	.v-mat-img-box {
		overflow: hidden;
		z-index: 1;
		width: auto;
		height: 100%;

		.v-mat-img-asset {
			position: relative;
			margin: 0;
			z-index: 2;
			transition: 0s all;
			width: auto;
			height: 100%;
		}
	}
	.v-mat-img-caption {
		bottom: 0;
		width: 100%;
		margin: 0 0.5em;
		z-index: 2;
	}
}


/*=========================
PULLQUOTES
**=======================*/

.v-mat-pull-container {
	width: 40%;
	display: inline-block;
	.v-mat-pull-link,
	.v-mat-pull {
		margin: 0;
	}
	.v-mat-pull {
		font-size: 1.5em;
		line-height: 1.4;
	}
}


/*=========================
ALIGNMENT
**=======================*/

/*.left {
	float: left;
}

.right {
	float: right;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.drop-left {
	float: left;
	//TODO: Figure out the crazy fucking solution for the drop alignments...
}

.drop-right {
	float: right;
	margin-right: 0;
}*/
