// =================================================================================
//
//	Typography that doesn't apply to a single element goes here.
//
// =================================================================================

$body-font-sizes: (
	null: (0.7rem, 1.8),
	tablet: (0.9rem, 1.8),
	laptop: (0.9rem, 1.8),
	desktop: (1.0 rem, 1.8)
);

body {
	font-family: 'karla', sans-serif;
	@include font-size($body-font-sizes);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family  : 'SubHead';
	font-size: 2.4rem;
	margin: 0 0 .5rem 0;
	padding: 0;
	letter-spacing: 0.2em;
	line-height: 1.05;
	color: white;
}
h1 {
	font-family: 'Header';
	font-size: 1.6em;
}
h2 {
	font-size: 1.5em;
}

.quote {
	font-family: 'Quotes';
	font-size: 2em;
}

a {
	position       : relative;
	font-family    : 'SubHead';
	color          : $color5;
	text-decoration: none;
	letter-spacing: 0.15em;
	&::before {
		content         : '';
		position        : absolute;
		width           : 100%;
		height          : .10em;
		top             : 1em;
		left            : -7%;
		background-color: $color5;
		visibility      : hidden;
		mix-blend-mode  : multiply;
		transform-origin: left;
		transform       : scaleX(0);
		transition      : all .2s ease-in-out;
	}
	&:hover:before {
		visibility: visible;
		transform : scaleX(1.1);
	}
}

// ==================================
// 	FONT FACES
// ==================================
@font-face {
	font-family: 'Header';
	src        : url('../assets/fonts/N_Bold.eot');
	src        : local('☺'), url('../assets/fonts/N_Bold.woff') format('woff'), url('../assets/fonts/N_Bold.ttf') format('truetype'), url('../assets/fonts/N_Bold.svg') format('svg');
	font-weight: bold;
	font-style : normal;
}
@font-face {
	font-family: 'SubHead';
	src        : url('../assets/fonts/N_Book.eot');
	src        : local('☺'), url('../assets/fonts/N_Book.woff') format('woff'), url('../assets/fonts/N_Book.ttf') format('truetype'), url('../assets/fonts/N_Book.svg') format('svg');
	font-weight: normal;
	font-style : normal;
}
@font-face {
	font-family: 'Quotes';
	src        : url('../assets/fonts/N_DemiItalic.eot');
	src        : local('☺'), url('../assets/fonts/N_DemiItalic.woff') format('woff'), url('../assets/fonts/N_DemiItalic.ttf') format('truetype'), url('../assets/fonts/N_DemiItalic.svg') format('svg');
	font-weight: normal;
	font-style : normal;
}
