body {
	font-family: body;
	font-size  : 1.3rem;
	line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family  : Header;
	margin-bottom: .5rem;
}
h1 {
	font-size: 4rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2rem;
}
h4 {
	font-size: 1.5rem;
}
a {
	position       : relative;
	font-family    : SubHead;
	color          : $color5;
	text-decoration: none;
	&::before {
		content         : '';
		position        : absolute;
		width           : 100%;
		height          : .15em;
		top             : 50%;
		left            : -5%;
		background-color: $color1;
		visibility      : hidden;
		mix-blend-mode  : multiply;
		transform-origin: left;
		transform       : scaleX(0);
		transition      : all .2s ease-in-out;
	}
	&:hover:before {
		visibility: visible;
		transform : scaleX(1.1);
	}
}

.header {
	.logo {
		display    : inline-block;
		margin     : 0;
		line-height: 4rem;
	}
}
#v-context {
	h1,
	h2,
	h3,
	p {
		padding-bottom: .5rem;
	}
	p {
		line-height: 1.3;
		font-size  : 1.2em;
	}
}
[class*="v-mat"] a {
	color          : black;
	transition     : .5s all ease-in-out;
	text-decoration: none;
	&:active,
	&:focus,
	&:hover {
		color: lighten(#000, 2%);
	}
}
// ==================================
// 	FONT FACES
// ==================================
@font-face {
	font-family: 'Header';
	src        : url('../assets/fonts/N_Bold.eot');
	src        : local('☺'), url('../assets/fonts/N_Bold.woff') format('woff'), url('../assets/fonts/N_Bold.ttf') format('truetype'), url('../assets/fonts/N_Bold.svg') format('svg');
	font-weight: bold;
	font-style : normal;
}
@font-face {
	font-family: 'SubHead';
	src        : url('../assets/fonts/N_Demi.eot');
	src        : local('☺'), url('../assets/fonts/N_Demi.woff') format('woff'), url('../assets/fonts/N_Demi.ttf') format('truetype'), url('../assets/fonts/N_Demi.svg') format('svg');
	font-weight: normal;
	font-style : normal;
}
@font-face {
	font-family: 'Body';
	src        : url('../assets/fonts/N_Book.eot');
	src        : local('☺'), url('../assets/fonts/N_Book.woff') format('woff'), url('../assets/fonts/N_Book.ttf') format('truetype'), url('../assets/fonts/N_Book.svg') format('svg');
	font-weight: normal;
	font-style : normal;
}
@font-face {
	font-family: 'Body';
	src        : url('../assets/fonts/N_Bold.eot');
	src        : local('☺'), url('../assets/fonts/N_Bold.woff') format('woff'), url('../assets/fonts/N_Bold.ttf') format('truetype'), url('../assets/fonts/N_Bold.svg') format('svg');
	font-weight: bold;
	font-style : normal;
}
@font-face {
	font-family: 'Body';
	src        : url('../assets/fonts/N_BookItalic.eot');
	src        : local('☺'), url('../assets/fonts/N_BookItalic.woff') format('woff'), url('../assets/fonts/N_BookItalic.ttf') format('truetype'), url('../assets/fonts/N_BookItalic.svg') format('svg');
	font-weight: normal;
	font-style : italic;
}
