span.v_close_btn {
	position: fixed;
	top: 2vmin;
	left: 2vmin;
	display: inline-block;
	z-index: 2;
	font-family: body;
	font-weight: bold;

	a {
		text-decoration: none;
		color: black;
	}

}

/*=======================================================================

88888888ba   88
88      "8b  88
88      ,8P  88
88aaaaaa8P'  88  ,adPPYYba,  8b       d8   ,adPPYba,  8b,dPPYba,
88""""""'    88  ""     `Y8  `8b     d8'  a8P_____88  88P'   "Y8
88           88  ,adPPPPP88   `8b   d8'   8PP"""""""  88
88           88  88,    ,88    `8b,d8'    "8b,   ,aa  88
88           88  `"8bbdP"Y8      Y88'      `"Ybbd8"'  88
								 d8'
								d8'

**=====================================================================*/

#v_header, .v_header {
	position: fixed;
	top: 0;
	display: table;
	width: 100vw;
	max-width: 100%;
	height: 100vh;
	z-index: 0;
	transition: background 0.5s;
}

#v_container {
	position: relative;
	display: table-cell;
	vertical-align: middle;
}

#v_title {
	position: absolute;
	top: 1.5vmin;
	left: 3vmin;
	z-index: 5;
	color: white;
	text-shadow: 0.1rem 0.1rem 0 $color3;
	opacity: 0;
	transition: all 0.5s
}

#italia_content #v_wrapper {
	width: 100vw;
	max-width: 100%;
	opacity: 0;
}

#v_wrapper {
	position:relative;
	display: block;
	padding-bottom: 42.86%; /* 21:9 */
	width: 100%;
	height: 0;
	transition: all 0.1s;

	video, #v_player {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
}

#v_header.body_entry #v_wrapper {
	transform-origin: top left;
	transform: scale(0.7);
}

/*====================
	VIDEO CONTROLS
**==================*/

.v_controls {
	position: fixed;
	display: block;
	top: 95vh;
	left: 0;
	width: 100vw;
	max-width: 100%;
	height: 2rem;
	margin: 0;
	padding: 0 3vw;
	z-index: 2;
}

main.home .v_controls {
	top: initial;
	bottom: 7vw;
	left: 5vw;
	width: 86vw;
	max-width: 86%;
	padding: 0 2vw;
}

//Standard for buttons
.v_control_elem {
	float: left;
	height: 2rem;
	width: 2rem;
	z-index: 10;
	color: white;
	text-align: justify;
	padding: 0;
	margin: 0 0 0 0.5rem;

	& > button {
		padding: 0.2em;
		width: 2rem;
		height: 2rem;
		border: 0;
		outline: none;
		background: black;
		border-radius: 0.5vmin;
		margin: 0;
	}

	svg {
		fill: white;
	}
}

.v_play_btn_cont {
	@extend .v_control_elem;
}

.v_vol_btn_cont {
	@extend .v_control_elem;

	.svg_volume_icon {
		transform-origin: center left;

		.group_wave {
			fill-opacity: 1;
			transition: all 0.5s ease-in;
		}

		.mute_anim {
			transform: translateX(-2rem);
			transform: scale(0 0);
			fill-opacity: 0;
		}
	}
}

.v_time_ind {
	@extend .v_control_elem;
	float: right;
	width: 7em;
	opacity: 0;
	transition: all 0.25s;
}



#v_show_progress, #v_progress_bar {
	background: white;
	height: 0.5rem;
	margin: 0;
	padding: 0;
	transition: width 0.1s;
	z-index: 2;
}

#v_progress_bar {
	margin: 0.75rem 11rem 0 6rem;
	background: rgba(255, 255, 255, 0.3);
	z-index: 1;
	transition: opacity 0.25s;
}



/*========================================

88                 ad88
88                d8"
88                88
88  8b,dPPYba,  MM88MMM  ,adPPYba,
88  88P'   `"8a   88    a8"     "8a
88  88       88   88    8b       d8
88  88       88   88    "8a,   ,a8"
88  88       88   88     `"YbbdP"'

**======================================*/

//The daddy that surrounds all the video stuff after the heading
section#v_content {
	position: relative;
	display: block;
	top: 110vh;
	width: 100vw;
	max-width: 100%;
	z-index: 1;
}

#v_info {
	margin: 1em;

	.v_bio {
		position: relative;
		display: inline-block;
		float: right;
		width: 70vw;
		vertical-align: top;
		padding: 0 5vw;

		.v_bio_photo {
			float: left;
			width: 50%;
		}

		.v_bio_text {
			float: right;
			width: 50vw;
			z-index: 8;
		}

		h2 {
			margin-bottom: 3rem;
		}
	}
}

#v_chapters {
	position: relative;
	display: inline-block;
	float: right;
	vertical-align: top;
	padding-right: 5vw;
	z-index: 5;

	.v_chapter {
		position: relative;
		width: 20vw;
		height: auto;
		margin: 0 0 1em 0;
		padding: 0;
		box-shadow: 0 0 0.3em 0.1em rgba(50, 50, 50, 0.2);

		img {
			position: relative;
			display: block;
			width: 100%;
			height: auto;
			margin: 0;
			padding: 0;
		}

		.v_rel_info {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			margin: 0;
			padding: 0;
			text-align: center;
			color: white;

			h3 {
				text-transform: uppercase;
				margin: 0;
				padding: 0;
				line-height: 1.3rem;
			}

			span {
				margin: 0;
				padding: 0;
				line-height: 1.3rem;
			}
		}
	}
}

/*=======================================================================

88b           d88                                   88
888b         d888                ,d                 ""
88`8b       d8'88                88
88 `8b     d8' 88  ,adPPYYba,  MM88MMM  8b,dPPYba,  88  8b,     ,d8
88  `8b   d8'  88  ""     `Y8    88     88P'   "Y8  88   `Y8, ,8P'
88   `8b d8'   88  ,adPPPPP88    88     88          88     )888(
88    `888'    88  88,    ,88    88,    88          88   ,d8" "8b,
88     `8'     88  `"8bbdP"Y8    "Y888  88          88  8P'     `Y8

**=====================================================================*/

//Context information - it's contained in the matrix fields everything is styling.
#v_context {
	padding: 1em;

	p, .v_mat_transc_heading {
		width: 80vw;
		margin: 0 auto;
	}

	a[class*="link"] {
		margin: 0;
		padding: 0;
	}
}


[class*="v_mat"] {
	margin: 0.5em;
}

/*=========================
	IMAGES
**=======================*/
.v_mat_img_container {
	position: relative;
	display:inline-block;

	.v_mat_img_box {
		overflow: hidden;
		z-index: 1;

		.v_mat_img_asset {
			position: relative;
			margin: 0;
			z-index: 2;
			transition: 0s all;

			&:hover, &:focus, &:active {
				transform: scale(1.4, 1.4);
				transition: 8s all ease-out
			}
		}
	}

	.v_mat_img_caption {
		bottom: 0;
		width: 100%;
		margin: 0 0.5em;
		z-index: 2;
	}
}

/*=========================
	PULLQUOTES
**=======================*/
.v_mat_pull_container {
	width: 40%;
	display: inline-block;

	.v_mat_pull_link, .v_mat_pull {
		margin: 0;
	}

	.v_mat_pull {
		font-size: 1.5em;
		line-height: 1.4em;
	}
}

/*=========================
	ALIGNMENT
**=======================*/

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	margin: 0 auto;
	text-align:center;
}

.drop_left {
	float: left;
	//TODO: Figure out the crazy fucking solution for the drop alignments...
}

.drop_right {
	float: right;
	margin-right: 0;
}
