{#
# Matrix content include template
# -------------------------------
#
# Any page that uses matrix should have this include
#
# An `entry` variable is expected to be defined. -
#}

{% set matrix = entry.type == 'interviewVideo' ? entry.parent.additionalContent : entry.additionalContent %}

{% if matrix|length %}
	<section id="v-context" class="v-section" style="{{craft.request.queryString == '?autoplay' ? 'opacity: 1;' : 'opacity: 0;' }}">
		{% for block in matrix %}
			{########## QUESTION AND ANSWER ##########}
			{% if block.type == "qa" %}
				<div class="qa col-{{block.size}} {{block.overlap}}">
					{% if block.question == "" %}
					{% else %}
						<h2 class="scrollHide">Q: {{block.question}}</h2>
					{% endif %}
					<p class="scrollHide">A: {{block.answer}}</p>
				</div>
			{########## PULLQUOTE ##########}
			{% elseif block.type == "pullquote" %}
				<div class="v-mat-pull-container col-{{block.size}} {{block.overlap}}">
					<blockquote class="v-mat-pull scrollHide">
						{{block.quote}}
					</blockquote>
				</div>
			{########## PODCAST ##########}
			{% elseif block.type == "podcast" %}

			{########## IMAGE ##########}
			{% elseif block.type == "image" %}
				{% set image = block.imageAsset.first %}
				{% set imgSize = [150, 500, 800, 1050, 1350, 1650] %}
				{% set transformedImage = craft.imager.transformImage(
					image, [{width: imgSize[block.size - 1]}, {width: 650}, {width: 350}],
					{position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%'})
				%}
				{% set imgW = block.size/6*100 %}
				<div class="v-mat-img-container col-{{block.size}}">
					<img 	class="v-mat-img scrollHide" src="{{ craft.imager.base64Pixel(2, 3) }}"
								sizes="(min-width: 1024px) {{imgW}}vw, 100vw"
								srcset="{{ craft.imager.srcset(transformedImage) }}"
								alt="{{block.imageCaption}}" />
				</div>
			{########## VIDEO CHAPTER ##########}
			{% elseif block.type == "vidChapter" %}
			{% endif %}
		{% endfor %}
	</section>
{% endif %}
