{#
# Video Header include template
# -------------------------------
#
# This template is used to output HTML for the video header used in probably design, culture,
# and team sections
#
# An `entry` variable is expected to be defined. -
#}

{# All to find which video in the playlist we're on... #}
{% set next = false %}
{% set tag = entry.secondaryTags|length ? entry.secondaryTags|merge(entry.disciplines).order('RAND()').first() : entry.disciplines.order('RAND()').first() %}

{% if entry.type == 'designer' and entry.hasDescendants() %}
	{% set siblings = [entry]|merge(entry.children) %}
	{% set siblingIDs = [entry.id]|merge(entry.children.ids()) %}
{% elseif entry.type == 'designer' and not entry.hasDescendants() %}
	{% set siblings = false %}
{% elseif entry.type == 'interviewVideo' %}
	{% set siblings = [entry.parent]|merge(entry.parent.children) %}
	{% set siblingIDs = [entry.parent.id]|merge(entry.parent.children.ids()) %}
{% elseif entry.section == 'italia' %}
	{% set siblings  = craft.entries.section.italia %}
	{% set siblingIDs  = craft.entries.section.italia.ids() %}
{% elseif entry.section == 'team' %}
	{% set siblings  = craft.entries.section.team %}
{% endif %}
{% set siblingIDsString = siblingIDs | join(', not ') %}
{# Finally Related Entries #}
{% set relatedEntries = craft.entries.section('design').type('interviewVideo').relatedTo(tag).id('and, not '~siblingIDsString).limit(2) %}
{% set chaptIndex = siblingIDs|indexOf(entry.id) + 1 %}
{% set nextChaptInd 	= chaptIndex + 1 %}
{% set next 			= siblings[newChaptInd:1] %}
{% set pastSchoolURLS 	= {
	'2016' : '',
	'2015' : 'http://2015.sfudutchdesign.ca/',
	'2014' : 'http://2014.sfuitaliadesign.com/',
	'2013' : 'http://2013.sfudutchdesign.ca/',
	'2012' : 'http://2012.sfuitaliadesign.com/'
}%}

<section id="v-header" class="{{bodyClass}}-section">
	<div id="v-middle"class="{{entry.videoYear >= '2015' ? 'v21-9' : 'v16-9'}}">
		<div id="v-container">
			<video id="v-player" src="{{entry.videoID}}" type="video/mp4">
				Oops! Your browser doesn't support the video tag. Consider downloading <a href="https://www.google.com/chrome/browser/desktop/index.html">Chrome</a>.
			</video>
			<div id="v-ui">
				<div class="v-overlay"></div>
				{# ========= Top video info ============ #}
				<div class="v-ui-top">
					{# Interviewee / Video Heading #}
					<h1 id="v-interviewee">{{entry.type =='interviewVideo' ? entry.parent : entry.title}}</h1>
					{# Video Sub-heading #}
					<h2 id="v-title">{{entry.type !='interviewVideo' ? '' : entry}} {% if siblings|length > 1 %}{{ ['(', siblingIDs|indexOf(entry.id) + 1, '/', siblings|length, ')' ]|join }}{% endif %}</h2>
					{# Previous Field School Link #}
					<a href="{{pastSchoolURLS[entry.videoYear.value]}}" class="v-prev-link" target="_blank">{{entry.videoYear.value is even ? 'italiaDesign ' : 'dutchDesign '}}{{entry.videoYear}}</a>
					{# Social Media Sharing Buttons #}
					<div id="v-share">
						<a class="v-share-btn-open"><img src="/assets/images/social-icons/open-01.png"></a>
						<a class="v-share-btn-close"><img src="/assets/images/social-icons/close-01.png"></a>
						<div class="v-share-btns-container">
							<a class="v-share-tw"><img src="/assets/images/social-icons/twitter-01.png"></a>
							<a class="v-share-fb"><img src="/assets/images/social-icons/facebook-01.png"></a>
							<a class="v-share-li"><img src="/assets/images/social-icons/linkedin-01.png"></a>
						</div>
					</div>
				</div>
				{% if entry.type == 'designer' and entry.hasDescendants() == false %}
				{% else %}
					{# ========= Initial play button ============ #}
					<div class="v-init-play">
						<a>
							<div class="v-init-play-btn"></div>
							<h4 class="v-init-play-label">Watch {{siblings|length > 1 ? 'Playlist' : 'Video'}}</h4>
						</a>
					</div>
				{% endif %}
				{# ========= End of video interface ============ #}
				<div class="v-ended oHidden" data-url="{{siblings[chaptIndex].url}}#v-header">
					<span>up next:</span>
					<h1 class="v-ended-nextTitle">{{siblings[chaptIndex].title|lower}}</h1>
					<h2 class="v-ended-cd-num">10</h2>
					<a class="v-ended-cd-cancel">cancel</a>
					<div class="v-suggestions">
						{% for entry in relatedEntries %}
							<div class="v-suggestion">
								<a href="{{entry.url}}#v-header">
									<p>suggested <br> {{entry.title}}</p>
									<img src="{{entry.videoThumbnail.first().url}}">
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
				{# ========= Video Controls ============ #}
				{% if chaptIndex >= 1 and siblings|length > 1 %}
					<a class="v-prevVid" href="{{siblings[chaptIndex - 2].url}}#v-header">
						<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53 146.7">
							<path id="Chevron-L" class="st0" d="M47.9 0L53 3.3 7.2 73.4l45.8 70-5.1 3.3L0 73.4z"/>
						</svg>
					</a>
				{% endif %}
				{% if chaptIndex <= siblings|length - 1 %}
					<a class="v-nextVid" href="{{siblings[chaptIndex].url}}#v-header">
						<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53 146.7">
							<path id="Chevron-R" class="st0" d="M5 146.7l-5-3.3 45.8-70L0 3.3 5 0l48 73.4z"/>
						</svg>
					</a>
				{% endif %}
				<div class="v-controls">
					<div class="v-play-btn-cont js-button">
						<button class="v-play-btn">
							<svg width="100%" height="100%" viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg">
								<defs>
									<path id="pause-icon" data-state="playing" d="M11,10 L17,10 17,26 11,26 M20,10 L26,10 26,26 20,26" />
									<path id="play-icon"  data-state="paused"  d="M11,10 L18,13.74 18,22.28 11,26 M18,13.74 L26,18 26,18 18,22.28" />
								</defs>
								<use xlink:href="#play-icon" />
							</svg>
						</button>
					</div>
					<div id="v-full-btn">
						<a href="#!">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 viewBox="0 0 209 208" enable-background="new 0 0 209 208" xml:space="preserve">
								<polygon id="TL" points="30,89 30,30 90,30 90,0 0,0 0,89 	"/>
								<polygon id="BL" points="30,119 0,119 0,208 90,208 90,178 30,178 	"/>
								<polygon id="TR" points="179,89 209,89 209,0 120,0 120,30 179,30 	"/>
								<polygon id="BR" points="179,119 179,178 120,178 120,208 209,208 209,119 	"/>
							</svg>
						</a>
					</div>
					<div class="v-time-ind">
						<span class="v-cur-time">00:00</span> / <span class="v-duration">00:00</span>
					</div>
					<div id="v-progress-bar">
						<div id="v-show-progress"></div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
