{#
# Video Header include template
# -------------------------------
#
# This template is used to output HTML for the video header used in probably design, culture,
# and team sections
#
# An `entry` variable is expected to be defined. -
#}

{# All to find which video in the playlist we're on... #}
{% set next = false %}
{% if entry.type == 'designer' and entry.hasDescendants() %}
	{% set siblings = [entry]|merge(entry.children) %}
	{% set next = entry.children.first() %}
{% elseif entry.type == 'designer' and not entry.hasDescendants() %}
	{% set siblings = false %}
{% elseif entry.type == 'interviewVideo' %}
	{% set siblings = [entry.parent]|merge(entry.parent.children) %}
	{% set next = entry.nextSibling() %}
{% elseif entry.section == 'italia' %}
	{% set siblings  = craft.entries.section.italia %}
{% elseif entry.section == 'team' %}
	{% set siblings  = craft.entries.section.team %}
{% endif %}

{% set chaptIndex = siblings|indexOf(entry) %}
{% set newChaptInd = chaptIndex + 1 %}
{% set relatedEntries = craft.entries.section('design').relatedTo(entry.disciplines).limit(2) %}

<section id="v-header" class="{{bodyClass}}-section">
	<div id="v-middle"class="{{entry.videoYear >= '2015' ? 'v21-9' : 'v16-9'}}">
		<div id="v-container">
			<video id="v-player" src="{{entry.videoID}}">
				Oops! Your browser doesn't support the video tag. Consider downloading <a href="https://www.google.com/chrome/browser/desktop/index.html">Chrome</a>.
			</video>
			<div id="v-ui">
				<div class="v-overlay"></div>
				<div class="v-ui-top">
					<h1 id="v-interviewee">{{entry.type =='interviewVideo' ? entry.parent : entry.title}}</h1>
					<h2 id="v-title">{{entry.type !='interviewVideo' ? '' : entry}}</h2>
					<a class="v-prev-link">{{entry.videoYear.value is even ? 'italiaDesign ' : 'dutchDesign '}}{{entry.videoYear}}</a>
					<div id="v-share">
						<a class="v-share-btn-open"><img src="/assets/images/social-icons/open-01.png"></a>
						<a class="v-share-btn-close"><img src="/assets/images/social-icons/close-01.png"></a>
						<div class="v-share-btns-container">
							<a class="v-share-tw"><img src="/assets/images/social-icons/twitter-01.png"></a>
							<a class="v-share-fb"><img src="/assets/images/social-icons/facebook-01.png"></a>
							<a class="v-share-li"><img src="/assets/images/social-icons/linkedin-01.png"></a>
						</div>
					</div>
				</div>
				{% if entry.type == 'designer' and entry.hasDescendants() == false %}
				{% else %}
					<div class="v-init-play">
						<a>
							<div class="v-init-play-btn"></div>
							<h4 class="v-init-play-label">Watch Playlist</h4>
						</a>
					</div>
				{% endif %}
				{# TODO: Make the proper logic later for next video... #}
				<div class="v-ended oHidden" data-url="{{siblings[chapterIndex+1].url}}">
					<span>up next:</span>
					<span>{{siblings[chaptIndex+1].title}} ({{chaptIndex}}/{{siblings|length}})</span>
					<div class="v-ended-cd-cont">
						<h2 class="v-ended-cd-num">5</h2>
						<svg viewbox="0 0 160 160" xmlns="http://www.w3.org/2000/svg">
							{# The viewbox attribute allows the svg to scale and gives crazy control. Really awesome: https://css-tricks.com/scale-svg/ #}
							<circle class="circle-bg" r="69.85699" cy="80" cx="80" stroke-width="8" stroke="#ffffff" fill="none"/>
							<path class="tProgBar" d="M10,80a70,70 0 1,0 140,0a70,70 0 1,0 -140,0" />
						</svg>
					</div>
					<a class="v-ended-cancel">cancel</a>
				</div>
				<div class="v-suggestions oHidden">
					<p>Suggested Videos</p>
					{% for entry in relatedEntries %}
						<div class="v-suggestion">
							<a href="{{entry.url}}">
								<p>{{entry.title}}</p>
								<img src="{{entry.intPortrait.first().url}}">
							</a>
						</div>
					{% endfor %}
				</div>
				<div class="v-controls">
					<div class="v-play-btn-cont js-button">
						<button class="v-play-btn">
							<svg width="100%" height="100%" viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg">
								<defs>
									<path id="pause-icon" data-state="playing" d="M11,10 L17,10 17,26 11,26 M20,10 L26,10 26,26 20,26" />
									<path id="play-icon"  data-state="paused"  d="M11,10 L18,13.74 18,22.28 11,26 M18,13.74 L26,18 26,18 18,22.28" />
								</defs>
								<use xlink:href="#play-icon" />
							</svg>
						</button>
					</div>
					<div id="v-full-btn">
						<a href="#!">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 viewBox="0 0 209 208" enable-background="new 0 0 209 208" xml:space="preserve">
								<polygon id="TL" points="30,89 30,30 90,30 90,0 0,0 0,89 	"/>
								<polygon id="BL" points="30,119 0,119 0,208 90,208 90,178 30,178 	"/>
								<polygon id="TR" points="179,89 209,89 209,0 120,0 120,30 179,30 	"/>
								<polygon id="BR" points="179,119 179,178 120,178 120,208 209,208 209,119 	"/>
							</svg>
						</a>
					</div>
					<div class="v-time-ind">
						<span class="v-cur-time">00:00</span> / <span class="v-duration">00:00</span>
					</div>
					<div id="v-progress-bar">
						<div id="v-show-progress"></div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
