.twistedmenu {
    width:960px;
    height:40px;
    margin:10px auto;
	font-family: 'GothamBold', Arial, Helvetica, sans-serif;
}


/* main menu styles */
.twistedmainmenu {
    width:100%;
	
}

#twistednav {
    width:960px;
	padding:0;
	margin:0;
	list-style:none;
	
}
#twistednav > li {
	float:left;
	width:158px;
    position:relative;
	text-shadow: 0 1px 0px #000;
	height:39px;
	border-bottom: 1px solid #222;
	border-top: none !important;
	padding:0;
	margin:0;
	border-right: 1px solid #333;
	border-left: 1px solid #444;
}

#twistednav > li > a {
	padding-top:10px;
    color:#E5E5E5;
    display:block;
    position:relative;
    text-decoration:none;
	text-align:center;
	height:29px;
	font-size:16px;
	
	background: #212121; /* old browsers */
  background: -moz-linear-gradient(rgba(73, 73, 73, 0.85) 0%, rgba(33, 33, 33, 0.85) 100%); /* firefox */ 
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(73,73,73,0.80)),
  to(rgba(33,33,33,0.85)), color-stop(1,#333333)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DD494949, endColorstr=#DD212121); /* IE */
}
#twistednav > li > a:hover {
	color:#e5e5e5 !important;
    background: -moz-linear-gradient(center top , rgb(186, 159, 103), rgb(51, 51, 51)) repeat scroll 0% 0% transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(186,159,103,0.80)),
  to(rgba(51,51,51,0.85)), color-stop(1,#333333)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DD494949, endColorstr=#DD212121); /* IE */
}
#twistednav > li.selected  > a {
    background-color:#FFFFFF;
    border-color:#999999 #999999 #FFFFFF;
    z-index:2;
}

.firstlink {
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
}

.firstli {
	border-right: 1px solid #333;
	border-left: 1px solid transparent !important;
	}

.lastlink {
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}

.lastli {
	border-right: 1px solid transparent !important;
	border-left: 1px solid #444;
	}
#twistednav li div {
    position:relative;
}
#twistednav li div div {
    background-color:#333;
	background:rgba(51, 51, 51, 0.8);
    padding:12px 0 0 0;
    display:none;
    margin:0;
    position:absolute;
    top:0;
    z-index:1;
    width:190px;
	color:#FFF;
	
}
#twistednav li div div.wrp2 {
    width:380px;
}
#twistednav .sep {
    left:190px;
    border-left:1px solid #E3E3E3;
    bottom:0;
    height:auto;
    margin:15px 0;
    position:absolute;
    top:0;
    width:1px;
}
#twistednav li div ul {
    left:0px;
	padding-left:0;
    position:relative;
    width:100%;
    float:left;
    list-style-type:none;
}
#twistednav li div ul li {
    margin:0;
    padding:0;
}
#twistednav li div ul li h3 {
    border-bottom:1px solid #E3E3E3;
    color:#4F4F4F;
    font-weight:bold;
    margin:0 5px 4px;
    font-size:0.95em;
    padding-bottom:3px;
    padding-top:3px;
}
#twistednav li ul ul {
    padding:0 0 8px;
}
#twistednav li ul ul li {
    margin:0;
    padding:0;
}
#twistednav li ul ul li a {
    color:#FFF;
    display:block;
    padding:12px 0 0 5px;
    text-decoration:none;
    font-size:0.9em;
	height:30px;
}

#twistednav li ul ul li a:hover{
    color:#fff;
	background: -moz-linear-gradient(center top , rgb(186, 159, 103), rgb(51, 51, 51)) repeat scroll 0% 0% transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(186,159,103,0.80)),
  to(rgba(51,51,51,0.85)), color-stop(1,#333333)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DD494949, endColorstr=#DD212121); /* IE */
	
}