/*=============================================

All the utility stuff goes here such as variables, mixins, and classes like clearfix that will be used all over the place.

**===========================================*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
