@charset "UTF-8";
/*$color2:	rgb(255, 208, 13);
$color2T:	rgba(255, 208, 13, 0.9);*/
.clearfix:after { content: ""; display: block; clear: both; }

.bg::after, .green-bg::after, #italia-pace::after, #v-intro #v-contents::after, #v-intro #v-contents #v-chapter-ind::after, .film-entry::after, .blue-bg::after, #home-videos #home-interviews::after, #home-videos #home-films::after, #italia-workers::after, #v-intro #v-description::after, .design-entry:not(.blank)::after, .tan-bg::after, #italia-italy::after { content: ''; position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; mix-blend-mode: multiply; z-index: -1; }

.green-bg::after, #italia-pace::after, #v-intro #v-contents::after, #v-intro #v-contents #v-chapter-ind::after, .film-entry::after { background: #4cb884; }

.blue-bg::after, #home-videos #home-interviews::after, #home-videos #home-films::after, #italia-workers::after, #v-intro #v-description::after, .design-entry:not(.blank)::after { background: #9ab6f4; }

.tan-bg::after, #italia-italy::after { background: #fffaf3; }

*, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; border: none; }

body { -webkit-transition: color 0.5s; transition: color 0.5s; }

#home-btn { position: fixed; top: 1vh; left: 1vh; height: 13vh; width: auto; z-index: 2; }

#home-btn img { height: 100%; width: auto; }

#home-btn:hover::before { display: none; }

.design #home-btn, .team #home-btn, .team-vid #home-btn { z-index: 201; -webkit-clip-path: polygon(0 0, 100% 0, 100% 72%, 37% 72%, 37% 100%, 0 100%); clip-path: polygon(0 0, 100% 0, 100% 72%, 37% 72%, 37% 100%, 0 100%); }

header.header { position: fixed; display: block; top: 5vw; right: 97.5vw; width: -webkit-calc(100vh - 10vw); width: calc(100vh - 10vw); padding: 0; -webkit-transform: rotate(270deg); -ms-transform: rotate(270deg); transform: rotate(270deg); -webkit-transform-origin: right top 0; -ms-transform-origin: right top 0; transform-origin: right top 0; z-index: 1; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; text-align: center; }

header.header nav { display: inline-block; }

nav { display: inline-block; }

nav ul { list-style: none; }

nav ul li { display: inline-block; margin-left: 10vh; }

nav a { color: #3a4bc1; font-size: 1.4em; }

nav a.sel { color: #4cb884; }

.aHidden { position: absolute !important; clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ clip: rect(1px, 1px, 1px, 1px); padding: 0 !important; border: 0 !important; height: 1px !important; width: 1px !important; overflow: hidden; }

.oHidden { opacity: 0 !important; }

.dHidden { display: none !important; }

main.design, main.team #flex-grid-team .inner { position: relative; margin: 6vw 5vw; padding: 2rem; background-image: url(/assets/images/soft_wallpaper.png); background-repeat: repeat; background-position: top left; background-color: #fffaf3; background-blend-mode: multiply; min-height: 85vh; width: 90vw; -webkit-transition: all 0.5s; transition: all 0.5s; }

main.team { margin-bottom: 0; }

main.team #flex-grid-team { width: 100vw; margin-bottom: 0; }

main.team #flex-grid-team .inner { min-height: none; -webkit-transition: none; transition: none; margin: 6vw 0 0 0; padding: 2rem 3vw; }

main.team #contact-info { position: relative; margin: 1vw 5vw; }

main.team #contact-info h1, main.team #contact-info p { color: #3a4bc1; }

body { font-family: 'karla', sans-serif; font-size: 1.2rem; line-height: 1.8; }

h1, h2, h3, h4, h5, h6 { font-family: 'SubHead'; font-size: 2.4rem; margin: 0 0 0.5rem 0; padding: 0; letter-spacing: 0.1em; line-height: 1.05; color: white; }

h1 { font-family: 'Header'; font-size: 2em; }

h2 { font-size: 1.5em; }

.quote { font-family: 'Quotes'; font-size: 2em; }

a { position: relative; font-family: 'SubHead'; color: #3a4bc1; text-decoration: none; }

a::before { content: ''; position: absolute; width: 100%; height: .15em; top: 100%; left: -5%; background-color: #4cb884; visibility: hidden; mix-blend-mode: multiply; -webkit-transform-origin: left; -ms-transform-origin: left; transform-origin: left; -webkit-transform: scaleX(0); -ms-transform: scaleX(0); transform: scaleX(0); -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

a:hover:before { visibility: visible; -webkit-transform: scaleX(1.1); -ms-transform: scaleX(1.1); transform: scaleX(1.1); }

@font-face { font-family: 'Header'; src: url("../assets/fonts/N_Bold.eot"); src: local("☺"), url("../assets/fonts/N_Bold.woff") format("woff"), url("../assets/fonts/N_Bold.ttf") format("truetype"), url("../assets/fonts/N_Bold.svg") format("svg"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'SubHead'; src: url("../assets/fonts/N_Demi.eot"); src: local("☺"), url("../assets/fonts/N_Demi.woff") format("woff"), url("../assets/fonts/N_Demi.ttf") format("truetype"), url("../assets/fonts/N_Demi.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Quotes'; src: url("../assets/fonts/N_DemiItalic.eot"); src: local("☺"), url("../assets/fonts/N_DemiItalic.woff") format("woff"), url("../assets/fonts/N_DemiItalic.ttf") format("truetype"), url("../assets/fonts/N_DemiItalic.svg") format("svg"); font-weight: normal; font-style: normal; }

.is-scrollable { position: relative !important; }

[class*='-section'] { position: fixed; top: 0; left: 0; margin: 0; padding: 0; box-shadow: 0.05rem 0.05rem 1rem rgba(50, 50, 50, 0.6); }

[class*='-section'] .inner { position: relative; top: 0; left: 0; width: 100%; height: 100%; color: white; }

[class*='-section'] h1, [class*='-section'] p { position: relative; z-index: 20; color: white; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }

[class*='-section'] [class^='button-'] { -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }

[class*='-section'] .v-title { position: absolute; top: 4rem; left: 2rem; z-index: 8; }

[class*='-section'] .v-thumbnail { position: relative; width: 100%; height: auto; mix-blend-mode: multiply; z-index: 1; }

[class*='-section'] .v-description { position: absolute; top: 7rem; left: 5rem; width: 50%; z-index: 8; }

/*==========================================

88        88
88        88
88        88
88aaaaaaaa88   ,adPPYba,   88,dPYba,,adPYba,    ,adPPYba,
88""""""""88  a8"     "8a  88P'   "88"    "8a  a8P_____88
88        88  8b       d8  88      88      88  8PP"""""""
88        88  "8a,   ,a8"  88      88      88  "8b,   ,aa
88        88   `"YbbdP"'   88      88      88   `"Ybbd8"'

//========================================*/
#home-play { margin: 7vw 0 0 7vw; width: 86vw; height: -webkit-calc(100vh - 14vw); height: calc(100vh - 14vw); background-color: #fffaf3; background-image: url("/assets/images/soft_wallpaper.png"); background-position: top left; background-repeat: repeat; -webkit-animation-delay: 0.75s; animation-delay: 0.75s; background-blend-mode: multiply; }

#home-play .inner { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; height: 100%; }

#home-play #home-play-logo { margin: auto; width: 50vmin; height: auto; }

#home-about { margin-top: 13vw; margin-left: 21.5vw; width: 72vw; height: -webkit-calc(100vh - 18vw); height: calc(100vh - 18vw); background-color: #4cb884; background-image: url("/assets/images/team_pic_small.png"); background-position: left; background-size: contain; background-repeat: no-repeat; -webkit-animation-delay: 0.5s; animation-delay: 0.5s; background-blend-mode: multiply; }

#home-about.bgHidden { background-color: #4cb884; background-image: url(""); }

#home-about .inner { float: right; margin-top: 8%; margin-right: 2vw; width: 34vw; height: 100%; text-align: center; }

#home-about .inner h1, #home-about .inner p { text-align: left; }

#home-about .inner p { margin: 3em 0 0 20%; }

#home-videos { margin-top: 6vw; margin-left: 5vw; width: 80%; height: -webkit-calc(100vh - 14vw); height: calc(100vh - 14vw); box-shadow: none; color: white; -webkit-animation-delay: 0.25s; animation-delay: 0.25s; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }

#home-videos #home-interviews { position: relative; padding: 3vw; width: 45vw; box-shadow: 0.05rem 0.05rem 0.1rem rgba(50, 50, 50, 0.2); text-align: center; }

#home-videos #home-interviews h1, #home-videos #home-interviews p { position: relative; display: block; margin-top: 2vw; color: white; text-align: left; }

#home-videos #home-interviews h1 { margin-left: 4vw; }

#home-videos #home-interviews p { margin-left: 6vw; }

#home-videos #home-interviews .inner { top: -2vw; left: -2vw; }

#home-videos #home-films { position: absolute; top: 12vw; left: 30vw; padding: 3vw; width: 45vw; text-align: center; }

#home-videos #home-films h1 { margin-top: 3vw; margin-left: 7vw; text-align: left; }

#home-videos #home-films p { margin-top: 1vw; margin-left: 9vw; text-align: left; }

#home-videos #home-films::after { z-index: 1; }

#v-header.home-section { background: none; box-shadow: none; }

/*==========================================

88                       88  88
88    ,d                 88  ""
88    88                 88
88  MM88MMM  ,adPPYYba,  88  88  ,adPPYYba,
88    88     ""     `Y8  88  88  ""     `Y8
88    88     ,adPPPPP88  88  88  ,adPPPPP88
88    88,    88,    ,88  88  88  88,    ,88
88    "Y888  `"8bbdP"Y8  88  88  `"8bbdP"Y8

//========================================*/
#italia-content { width: 80vw; }

[id^='italia-'] { width: 60vw; height: 25.71vw; overflow: hidden; }

#italia-intro { margin-top: 17vw; margin-left: 25vw; width: 30vw; height: 13.71vw; background: white; }

#italia-intro .inner { padding: 1em; }

#italia-intro .inner h2, #italia-intro .inner p { position: relative; color: #3a4bc1; margin-top: 0.5em; }

#italia-intro .inner p { margin-left: 1em; }

#italia-pace { margin-top: 5vw; margin-left: 5vw; }

#italia-workers { margin-top: 15vw; margin-left: 35vw; }

#italia-italy { margin-top: 25vw; margin-left: 20vw; margin-bottom: -webkit-calc(100vh - 50.71vw); margin-bottom: calc(100vh - 50.71vw); }

/*==========================================

88                                                           88
88                ,d                                         ""
88                88
88  8b,dPPYba,  MM88MMM  ,adPPYba,  8b,dPPYba,  8b       d8  88   ,adPPYba,  8b      db      d8
88  88P'   `"8a   88    a8P_____88  88P'   "Y8  `8b     d8'  88  a8P_____88  `8b    d88b    d8'
88  88       88   88    8PP"""""""  88           `8b   d8'   88  8PP"""""""   `8b  d8'`8b  d8'
88  88       88   88,   "8b,   ,aa  88            `8b,d8'    88  "8b,   ,aa    `8bd8'  `8bd8'
88  88       88   "Y888  `"Ybbd8"'  88              "8"      88   `"Ybbd8"'      YP      YP

//========================================*/
main:not([class*='child']) #v-intro { opacity: 0; }

#v-intro { position: relative; margin: 10vw auto 0 auto; height: -webkit-calc(100vh - 25vw); height: calc(100vh - 25vw); box-shadow: none; -webkit-animation-delay: 0.75s; animation-delay: 0.75s; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }

#v-intro .v-portrait { position: absolute; top: 0%; left: 10%; height: 75%; width: auto; }

#v-intro #v-contents { position: absolute; top: 0; left: 5%; padding: 1.5em 3% 3% 3%; width: 35%; min-height: 75%; }

#v-intro #v-contents .quote { font-size: 1.5em; padding-left: 30%; margin-top: 7%; }

#v-intro #v-contents #v-chapter-ind { position: absolute; top: 4.25em; width: 105%; height: 3em; margin-left: -1em; -webkit-transition: margin-top 0.3s ease-in-out; transition: margin-top 0.3s ease-in-out; }

#v-intro #v-contents #v-chapter-ind::before { content: ''; position: absolute; display: block; left: 0.75em; top: 0.625em; width: 0; height: 0; z-index: 20; border-top: 1em solid transparent; border-left: 2em solid white; border-bottom: 1em solid transparent; }

#v-intro #v-contents::after { z-index: 1; }

#v-intro .v-contents-title { margin-top: 0; }

#v-intro .v-chapter { position: relative; display: table; width: 100%; height: 3em; z-index: 8; }

#v-intro .v-chapter a { display: table-cell; height: 100%; width: 100%; vertical-align: middle; }

#v-intro .v-chapter a:hover::before { display: none; }

#v-intro .v-chapter .v-chapter-number { width: 3em; font-size: 1.5rem; }

#v-intro .v-chapter .v-chapter-number, #v-intro .v-chapter .v-chapter-title, #v-intro .v-chapter .v-chapter-duration { position: relative; display: inline-block; height: 1em; margin: 0; font-family: Header; color: white; }

#v-intro .v-chapter .v-chapter-duration { float: right; font-family: body; }

#v-intro #v-description { position: absolute; bottom: 0; right: 5%; padding: 4% 6%; width: 57%; height: 70%; }

#v-intro #v-description .inner { opacity: 1; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }

main.team-vid #v-intro #v-contents { left: 25%; top: 7%; padding-bottom: 1%; min-height: 0; }

main.team-vid #v-intro #v-contents .v-contents-title { padding-left: 22%; display: inline-block; }

main.team-vid #v-intro #v-description { width: 55%; right: 15%; top: 19%; height: 60%; }

main.team-vid #v-intro #v-description .v-chapter-desc { top: 15%; }

/*==========================================

888888888888
     88
     88
     88   ,adPPYba,  ,adPPYYba,  88,dPYba,,adPYba,
     88  a8P_____88  ""     `Y8  88P'   "88"    "8a
     88  8PP"""""""  ,adPPPPP88  88      88      88
     88  "8b,   ,aa  88,    ,88  88      88      88
     88   `"Ybbd8"'  `"8bbdP"Y8  88      88      88

//========================================*/
#team-about { position: fixed; margin-top: 15vw; margin-left: 15vw; width: 60vw; height: 50vh; padding: 2em; background-color: #4cb884; background-image: url("/assets/images/team_pic_small.png"); background-position: left; background-size: contain; background-repeat: no-repeat; -webkit-animation-delay: 0.5s; animation-delay: 0.5s; background-blend-mode: multiply; }

main.team #flex-grid-team { position: fixed; margin: 0 5vw; width: 90vw; box-shadow: none; }

/*=======================================================================

88b           d88                                   88
888b         d888                ,d                 ""
88`8b       d8'88                88
88 `8b     d8' 88  ,adPPYYba,  MM88MMM  8b,dPPYba,  88  8b,     ,d8
88  `8b   d8'  88  ""     `Y8    88     88P'   "Y8  88   `Y8, ,8P'
88   `8b d8'   88  ,adPPPPP88    88     88          88     )888(
88    `888'    88  88,    ,88    88,    88          88   ,d8" "8b,
88     `8'     88  `"8bbdP"Y8    "Y888  88          88  8P'     `Y8

**=====================================================================*/
#v-context { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-align-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start; padding: 1em; margin-top: 8vw; margin-left: 5vw; width: 90vw; box-shadow: none; }

#v-context a[class*="link"] { margin: 0; padding: 0; }

#v-context .qa { position: relative; display: block; height: 60vh; width: 30vw; padding: 3%; margin-top: 20vh; z-index: 10; background-color: #4cb884; mix-blend-mode: multiply; left: -10vw; }

[class*="v-mat"] { margin: 0.5em; }

/*=========================
IMAGES
**=======================*/
.v-mat-img-container { position: relative; display: inline-block; }

.v-mat-img-container.large { width: auto; height: 60vh; }

.v-mat-img-container.small { width: auto; height: 30vh; }

.v-mat-img-container .v-mat-img-box { overflow: hidden; z-index: 1; width: auto; height: 100%; }

.v-mat-img-container .v-mat-img-box .v-mat-img-asset { position: relative; margin: 0; z-index: 2; -webkit-transition: 0s all; transition: 0s all; width: auto; height: 100%; }

.v-mat-img-container .v-mat-img-caption { bottom: 0; width: 100%; margin: 0 0.5em; z-index: 2; }

/*=========================
PULLQUOTES
**=======================*/
.v-mat-pull-container { width: 40%; display: inline-block; }

.v-mat-pull-container .v-mat-pull-link, .v-mat-pull-container .v-mat-pull { margin: 0; }

.v-mat-pull-container .v-mat-pull { font-size: 1.5em; line-height: 1.4; }

/*=========================
ALIGNMENT
**=======================*/
/*.left { float: left; } .right { float: right; } .center { margin: 0 auto; text-align: center; } .drop-left { float: left; //TODO: Figure out the crazy fucking solution for the drop alignments... } .drop-right { float: right; margin-right: 0; }*/
#d-filter { position: fixed; top: 0; right: 5vw; width: 90vw; height: 6vw; background: white; z-index: 200; -webkit-transition: height 0.5s; transition: height 0.5s; }

#d-filter form { position: absolute; right: 0; bottom: .55rem; }

#d-filter input { position: relative; top: 0; right: 0; background: none; border: none; box-shadow: none; border-bottom: 0.5rem solid #9ab6f4; outline: none; font-size: 3rem; width: 30vw; color: #3a4bc1; -webkit-transition: all, 0.5s; transition: all, 0.5s; mix-blend-mode: multiply; }

#d-filter .lSearch { top: 25vh; right: 20vw; width: 50vw; background: none; }

#d-filter span { position: absolute; right: .5rem; bottom: 1rem; font-size: 3rem; font-weight: bold; color: #9ab6f4; opacity: 0; cursor: pointer; -webkit-transition: all 0.5s; transition: all 0.5s; }

#d-filter span.active { right: 21vw; top: 20vh; opacity: 1; }

#d-filter span.hideActive { opacity: 1; }

#d-filter #undo-search { position: absolute; right: .25rem; top: 1rem; font-size: 3rem; font-weight: bold; color: #9ab6f4; z-index: 50; }

ul.ui-autocomplete { position: fixed; top: -webkit-calc(25vh + 1rem); top: calc(25vh + 1rem); left: 25vw; background: none; padding: .2rem; box-shadow: none; border: none; z-index: 200; }

ul.ui-autocomplete li.ui-menu-item { box-shadow: none; border: none; padding: .5rem; font-size: 2.5rem; color: #3a4bc1; list-style: none; cursor: pointer; text-shadow: 0.1rem 0.1rem 0.1rem rgba(55, 55, 55, 0.5); mix-blend-mode: multiply; font-family: header; }

ul.ui-autocomplete li.ui-menu-item .highlight { color: #4cb884; text-decoration: none; mix-blend-mode: multiply; }

ul.ui-autocomplete li.ui-menu-item a { color: #3a4bc1; mix-blend-mode: multiply; font-family: subhead; }

span[role="status"] { display: none; }

.noResults { background-image: url("/assets/images/bike.png"); background-position: 20% 50%; background-repeat: no-repeat; background-attachment: fixed; }

.noResults::after { content: 'Nothing to see here, go find something else silly!'; display: block; position: absolute; top: 60%; left: 50%; }

section[id^="flex-grid-"] { position: relative; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; width: 80vw; margin: 2vh auto 3vh; padding-bottom: 2rem; }

#page-info { background: white; padding: 2em 2em 2em 5em; width: 30vw; color: #3a4bc1; }

#page-info h1 { line-height: 1.0; margin-top: 0; color: #3a4bc1; }

#page-info::after { display: none; }

h1[id*="year-title-"] { position: relative; margin-left: 5vw; color: #9ab6f4; font-size: 8rem; margin: 0 3vw; padding-top: 0.5em; -webkit-transform: translateY(-5vw); -ms-transform: translateY(-5vw); transform: translateY(-5vw); z-index: 100; mix-blend-mode: multiply; }

#year-links { position: fixed; top: 7vw; right: 4.5vw; }

#year-links ul { list-style: none; }

#year-links li { list-style: none; margin-bottom: 2rem; }

#year-links a { color: #9ab6f4; font-family: subhead; }

.entry, .design-entry, .film-entry { position: relative; display: block; margin: 0; padding: 0; z-index: 5; }

.entry a, .design-entry a, .film-entry a { position: relative; display: block; top: 0; left: 0; height: 100%; width: 100%; overflow: hidden; }

.entry a:hover::before, .design-entry a:hover::before, .film-entry a:hover::before { display: none; }

.entry .entry-thumb-cont, .design-entry .entry-thumb-cont, .film-entry .entry-thumb-cont { position: relative; display: inline-block; margin-left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); width: auto; height: 100%; mix-blend-mode: multiply; }

.entry .entry-thumb-cont img, .design-entry .entry-thumb-cont img, .film-entry .entry-thumb-cont img { position: relative; display: block; -webkit-transform-origin: center center; -ms-transform-origin: center center; transform-origin: center center; width: auto; height: 100%; -webkit-transition: all 0.5s; transition: all 0.5s; }

.entry .entry-title, .design-entry .entry-title, .film-entry .entry-title { position: absolute; top: 5%; left: 0; right: 0; text-align: center; padding: 0 1vw 0.5em; z-index: 50; -webkit-transition: all 0.5s; transition: all 0.5s; }

.entry .entry-title h3, .design-entry .entry-title h3, .film-entry .entry-title h3 { color: white; z-index: 100; }

.entry .entry-title span, .design-entry .entry-title span, .film-entry .entry-title span { color: white; padding: 0; margin: 0 auto; }

.entry:hover img, .design-entry:hover img, .film-entry:hover img { -webkit-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); -webkit-transition: -webkit-transform 8s; transition: transform 8s; }

.design-entry { width: 12vw; height: 18vw; }

.film-entry { width: 40vw; height: 26.66vw; }

.button, .button-green, .button-blue { position: relative; display: inline-block; margin: 2vw auto 0; color: white; text-align: center; z-index: 10; }

.button span, .button-green span, .button-blue span { position: relative; display: inline-block; z-index: 20; }

.button-green::before { background-color: #3b966a; }

.button-blue::before { background-color: #6c95ef; }

span.v-close-btn { position: fixed; top: 2vmin; left: 2vmin; display: inline-block; z-index: 2; font-family: body; font-weight: bold; }

span.v-close-btn a { text-decoration: none; color: black; }

/*=======================================================================

88888888ba   88
88      "8b  88
88      ,8P  88
88aaaaaa8P'  88  ,adPPYYba,  8b       d8   ,adPPYba,  8b,dPPYba,
88""""""'    88  ""     `Y8  `8b     d8'  a8P_____88  88P'   "Y8
88           88  ,adPPPPP88   `8b   d8'   8PP"""""""  88
88           88  88,    ,88    `8b,d8'    "8b,   ,aa  88
88           88  `"8bbdP"Y8      Y88'      `"Ybbd8"'  88
								 d8'
								d8'

**=====================================================================*/
#v-header { position: fixed; display: block; top: 0; left: 0; height: -webkit-calc(100vh - 7vw); height: calc(100vh - 7vw); margin: 0 0 7vw 5vw; padding-top: 7vw; width: 90vw; max-width: 100%; box-shadow: none; }

main.v #v-header { -webkit-animation-delay: 0.5s; animation-delay: 0.5s; }

main.home #v-header { -webkit-animation-delay: 0.75s; animation-delay: 0.75s; }

@media (orientation: landscape) { .v21-9 { height: 38.25vw !important; width: 90vw !important; }
  .v21-9 #v-player { top: -6.2vw !important; width: 90vw !important; height: 50.625vw !important; } }

@media (orientation: portrait) { .v21-9 { width: 86vw; height: 36.86vw; } }

@media (orientation: landscape) { .v16-9 { height: -webkit-calc(100vh - 14vw); height: calc(100vh - 14vw); width: -webkit-calc((100vh - 14vw)/9*16); width: calc((100vh - 14vw)/9*16); } }

@media (orientation: portrait) { .v16-9 { width: 86vw; height: 48.375vw; } }

#v-middle { position: relative; display: block; height: 100%; margin: 0 auto; }

#v-container { position: relative; display: block; margin: 0; padding: 0; height: 100%; overflow: hidden; }

#v-container video { position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; }

#v-container:-webkit-full-screen { background-color: black; width: 100% !important; height: 100% !important; }

#v-container:-webkit-full-screen video { top: 0 !important; width: 100% !important; height: 100% !important; }

/*====================
	INTERFACE
**==================*/
.v-ui-top { position: absolute; display: block; top: 0; left: 0; width: 100%; height: 7rem; background: -webkit-linear-gradient(bottom, transparent 0%, rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, 0.45) 90%); background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, 0.45) 90%); }

#v-interviewee { position: absolute; top: 0; left: 1%; z-index: 5; color: white; opacity: 1; -webkit-transition: all 1s; transition: all 1s; }

#v-title { position: absolute; top: 2.4em; left: 3%; z-index: 5; color: white; opacity: 1; -webkit-transition: all 1s; transition: all 1s; }

a.v-prev-link { position: absolute; top: 1em; right: 3em; z-index: 5; color: white; font-size: 1.2em; -webkit-transition: opacity 1s; transition: opacity 1s; }

#v-share { position: absolute; top: 1.5em; right: 1em; -webkit-transition: opacity 1s; transition: opacity 1s; }

#v-share [class^='v-share-btn'] { position: absolute; display: block; top: 0; right: 0; height: 1em; width: 1em; z-index: 5; }

#v-share [class^='v-share-btn'] img { position: relative; display: block; width: 1em; height: 1em; margin: 0; padding: 0; }

#v-share .v-share-btn-open, #v-share .v-share-btn-close { top: 0; -webkit-transform: rotateY(0deg); transform: rotateY(0deg); -webkit-transition: -webkit-transform 0.2s; transition: transform 0.2s; }

#v-share .v-share-btn-close { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); }

#v-share .v-share-btns-container { position: absolute; display: block; top: 1em; right: 0; height: 4.5em; width: 1em; overflow: hidden; }

#v-share .v-share-btns-container a { position: absolute; top: -1.5em; left: 0; height: 1em; width: 1em; margin-top: 0.5em; -webkit-transition: top 0.2s; transition: top 0.2s; }

.v-init-play { position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; height: 7em; width: 8em; text-align: center; z-index: 5; -webkit-transition: opacity 0.5; transition: opacity 0.5; }

.v-init-play .v-init-play-btn { position: relative; display: inline-block; margin: 0 auto; width: 0; height: 0; z-index: 5; border-top: 2em solid transparent; border-left: 4em solid white; border-bottom: 2em solid transparent; -webkit-transition: border 0.2s; transition: border 0.2s; }

.v-init-play .v-init-play-label { position: relative; display: inline-block; margin: 0.25em auto; color: white; }

.v-init-play a { position: absolute; top: 0; left: 0; height: 100%; width: 100%; }

.v-init-play a:hover .v-init-play-btn { border-left: 4em solid #9ab6f4; }

.v-init-play a:hover::before { display: none; }

/*====================
	NEXT VIDEO F'N
**==================*/
.v-ended { position: absolute; display: block; top: 0; left: 0; right: 0; bottom: 0; margin: auto; height: 10em; width: 8em; text-align: center; z-index: 1; color: white; }

.v-ended span { color: white; display: block; text-align: center; }

.v-ended .v-ended-cd-cont { position: relative; display: table-cell; vertical-align: middle; height: 8em; width: 8em; }

.v-ended .v-ended-cd-cont svg { position: absolute; top: 0; left: 0; width: 8em; height: 8em; -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); }

.v-ended .circle-animation { stroke-dasharray: 440; /* this value is the pixel circumference of the circle */ stroke-dashoffset: 440; -webkit-transition: all 1s linear; transition: all 1s linear; }

.v-suggestions { position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; height: 6em; z-index: 5; text-align: center; }

.v-suggestions .v-suggestion { display: inline-block; margin: 0 1em; }

.v-suggestions .v-suggestion p { text-align: center; color: white; }

.v-suggestions .v-suggestion img { position: relative; height: 4em; width: auto; }

/*====================
	VIDEO CONTROLS
**==================*/
#v-ui { position: relative; height: 100%; width: 100%; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }

.is-scrollable #v-ui { opacity: 1; }

.v-controls { position: absolute; display: block; bottom: 0; left: 0; width: 100%; height: 7rem; padding: 4.25rem 0.75rem 0.75rem 0.25rem; margin: 0; z-index: 2; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.65) 80%); background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.65) 80%); }

main.home .v-controls { opacity: 0; }

.v-control-elem, .v-play-btn-cont, .v-vol-btn-cont, .v-time-ind { float: left; height: 2rem; width: 2rem; z-index: 10; color: white; text-align: justify; padding: 0; margin: 0 0 0 0.5rem; }

.v-control-elem > button, .v-play-btn-cont > button, .v-vol-btn-cont > button, .v-time-ind > button { padding: 0.2em; width: 2rem; height: 2rem; border: 0; outline: none; background: black; border-radius: 0.5vmin; margin: 0; }

.v-control-elem svg, .v-play-btn-cont svg, .v-vol-btn-cont svg, .v-time-ind svg { fill: white; }

.v-vol-btn-cont .svg-volume-icon { -webkit-transform-origin: center left; -ms-transform-origin: center left; transform-origin: center left; }

.v-vol-btn-cont .svg-volume-icon .group-wave { fill-opacity: 1; -webkit-transition: all 0.5s ease-in; transition: all 0.5s ease-in; }

.v-vol-btn-cont .svg-volume-icon .mute-anim { -webkit-transform: translateX(-2rem); -ms-transform: translateX(-2rem); transform: translateX(-2rem); -webkit-transform: scale(0 0); -ms-transform: scale(0 0); transform: scale(0 0); fill-opacity: 0; }

.v-time-ind { float: right; width: 7em; opacity: 0; -webkit-transition: all 0.25s; transition: all 0.25s; }

#v-show-progress, #v-progress-bar { background: white; height: 0.5rem; margin: 0; padding: 0; z-index: 2; }

#v-show-progress { -webkit-transition: width 0.5s; transition: width 0.5s; }

#v-progress-bar { margin: 0.75rem 12rem 0 3rem; background: rgba(255, 255, 255, 0.3); z-index: 1; -webkit-transition: opacity 0.25s; transition: opacity 0.25s; }

#v-full-btn { position: relative; margin: 0.5rem 0.5rem 0 0; height: 1rem; width: 1rem; float: right; }

#v-full-btn svg { position: absolute; display: block; top: 0; left: 0; height: 100%; width: 100%; -webkit-transform: scale(1, 1); -ms-transform: scale(1, 1); transform: scale(1, 1); -webkit-transition: -webkit-transform 0.2s; transition: transform 0.2s; }

#v-full-btn svg polygon { fill: white; -webkit-transform-origin: center center; -ms-transform-origin: center center; transform-origin: center center; -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: -webkit-transform 0.2s; transition: transform 0.2s; }

#v-full-btn a { position: absolute; display: block; top: 0; left: 0; height: 100%; width: 100%; padding: 0; }

#v-full-btn a:hover svg { -webkit-transform: scale(0.9, 0.9); -ms-transform: scale(0.9, 0.9); transform: scale(0.9, 0.9); }

#v-full-btn a:hover::before { display: none; }

/*========================================

88                 ad88
88                d8"
88                88
88  8b,dPPYba,  MM88MMM  ,adPPYba,
88  88P'   `"8a   88    a8"     "8a
88  88       88   88    8b       d8
88  88       88   88    "8a,   ,a8"
88  88       88   88     `"YbbdP"'

**======================================*/
section#v-content { position: relative; display: block; top: 110vh; width: 100vw; max-width: 100%; z-index: 1; }

.v-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-image: url(/assets/images/soft_wallpaper.png); background-repeat: repeat; background-position: top left; background-color: #fffaf3; background-blend-mode: multiply; z-index: 6; }

#v-info { margin: 1em; }

#v-info .v-bio { position: relative; display: inline-block; float: right; width: 70vw; vertical-align: top; padding: 0 5vw; }

#v-info .v-bio .v-bio-photo { float: left; width: 50%; }

#v-info .v-bio .v-bio-text { float: right; width: 50vw; z-index: 8; }

#v-info .v-bio h2 { margin-bottom: 3rem; }

#v-chapters { position: relative; display: inline-block; float: right; vertical-align: top; padding-right: 5vw; z-index: 5; }

#v-chapters .v-chapter { position: relative; width: 20vw; height: auto; margin: 0 0 1em 0; padding: 0; box-shadow: 0 0 0.3em 0.1em rgba(50, 50, 50, 0.2); }

#v-chapters .v-chapter img { position: relative; display: block; width: 100%; height: auto; margin: 0; padding: 0; }

#v-chapters .v-chapter .v-rel-info { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 100%; margin: 0; padding: 0; text-align: center; color: white; }

#v-chapters .v-chapter .v-rel-info h3 { text-transform: uppercase; margin: 0; padding: 0; line-height: 1.3; }

#v-chapters .v-chapter .v-rel-info span { margin: 0; padding: 0; line-height: 1.3; }

/*# sourceMappingURL=main.css.map */
