@charset "UTF-8";
/* Main TODO List: TODO: Cards slide in from bottom on homepage load. TODO: Justify align navigation elements to take up most of the page worth of height. FIXME: Using the hide() method moves the nav when lots of shit is hidden FIXME: Searching for UN Studio doesn't give Ben Van Berkel as a result FIXME: Search still has some bugs. Deal with it later. */
/*=============================================

All the utility stuff goes here such as variables, mixins, and classes like clearfix that will be used all over the place.

**===========================================*/
/*$color2:	rgb(255, 208, 13);
$color2T:	rgba(255, 208, 13, 0.9);*/
.clearfix:after { content: ""; display: block; clear: both; }

.bg::after, .green_bg::after, .button_green::after, .yellow_bg::after, #home_videos #home_interviews::after, #home_videos #home_films::after, .button_yellow::after { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; mix-blend-mode: multiply; }

.green_bg::after, .button_green::after { background: #4cb884; }

.yellow_bg::after, #home_videos #home_interviews::after, #home_videos #home_films::after, .button_yellow::after { background: #9ab6f4; }

*, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }

body { -webkit-transition: color 0.5s; transition: color 0.5s; min-height: 80vh; height: 100%; }

header.header { position: fixed; display: block; top: 5vw; right: 97.5vw; width: -webkit-calc(100vh - 10vw); width: calc(100vh - 10vw); padding: 0; -webkit-transform: rotate(270deg); -ms-transform: rotate(270deg); transform: rotate(270deg); -webkit-transform-origin: right top 0; -ms-transform-origin: right top 0; transform-origin: right top 0; z-index: 10; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }

header.header nav { display: inline-block; }

nav { display: inline-block; float: right; }

nav ul { list-style: none; }

nav ul li { display: inline-block; margin-left: 2em; }

nav a { color: #3a4bc1; }

nav a.sel { color: #4cb884; }

.aHidden { position: absolute !important; clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ clip: rect(1px, 1px, 1px, 1px); padding: 0 !important; border: 0 !important; height: 1px !important; width: 1px !important; overflow: hidden; }

.oHidden { opacity: 0 !important; }

.dHidden { display: none !important; }

.design main { position: relative; margin: 5vw; padding: 0.25rem; background-image: url(/assets/images/soft_wallpaper.png); background-repeat: repeat; background-position: top left; background-color: #fffaf3; background-blend-mode: multiply; height: 100%; min-height: 85vh; -webkit-transition: all 0.5s; transition: all 0.5s; }

body { font-family: body; font-size: 1.3rem; line-height: 2rem; }

h1, h2, h3, h4, h5, h6 { font-family: Header; margin-bottom: 0.5rem; }

p, span, div { margin-bottom: 0.5rem; }

h1 { font-size: 4rem; }

h2 { font-size: 3rem; }

h3 { font-size: 2rem; }

h4 { font-size: 1.5rem; }

a { position: relative; font-family: SubHead; color: #9ab6f4; text-decoration: none; }

a:before { content: ''; position: absolute; width: 100%; height: 0.15em; top: 50%; left: -5%; background-color: #4cb884; visibility: hidden; mix-blend-mode: multiply; -webkit-transform-origin: left; -ms-transform-origin: left; transform-origin: left; -webkit-transform: scaleX(0); -ms-transform: scaleX(0); transform: scaleX(0); -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

a:hover:before { visibility: visible; -webkit-transform: scaleX(1.1); -ms-transform: scaleX(1.1); transform: scaleX(1.1); }

.header .logo { display: inline-block; margin: 0; line-height: 4rem; }

#v_context h1, #v_context h2, #v_context h3, #v_context p { padding-bottom: 0.5rem; }

#v_context p { line-height: 1.3em; font-size: 1.2em; }

[class*="v_mat"] a { color: black; -webkit-transition: 0.5s all ease-in-out; transition: 0.5s all ease-in-out; text-decoration: none; }

[class*="v_mat"] a:hover, [class*="v_mat"] a:active, [class*="v_mat"] a:focus { color: #050505; }

/*==================================
	FONT FACES
**================================*/
@font-face { font-family: 'Header'; src: url("../assets/fonts/N_Bold.eot"); src: local("☺"), url("../assets/fonts/N_Bold.woff") format("woff"), url("../assets/fonts/N_Bold.ttf") format("truetype"), url("../assets/fonts/N_Bold.svg") format("svg"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'SubHead'; src: url("../assets/fonts/N_Demi.eot"); src: local("☺"), url("../assets/fonts/N_Demi.woff") format("woff"), url("../assets/fonts/N_Demi.ttf") format("truetype"), url("../assets/fonts/N_Demi.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Body'; src: url("../assets/fonts/N_Book.eot"); src: local("☺"), url("../assets/fonts/N_Book.woff") format("woff"), url("../assets/fonts/N_Book.ttf") format("truetype"), url("../assets/fonts/N_Book.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Body'; src: url("../assets/fonts/N_Bold.eot"); src: local("☺"), url("../assets/fonts/N_Bold.woff") format("woff"), url("../assets/fonts/N_Bold.ttf") format("truetype"), url("../assets/fonts/N_Bold.svg") format("svg"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Body'; src: url("../assets/fonts/N_BookItalic.eot"); src: local("☺"), url("../assets/fonts/N_BookItalic.woff") format("woff"), url("../assets/fonts/N_BookItalic.ttf") format("truetype"), url("../assets/fonts/N_BookItalic.svg") format("svg"); font-weight: normal; font-style: italic; }

/* ================================================================================= 88888888888                                   88 88                         ,d                 "" 88                         88 88aaaaa      8b,dPPYba,  MM88MMM  8b,dPPYba,  88   ,adPPYba,  ,adPPYba, 88"""""      88P'   `"8a   88     88P'   "Y8  88  a8P_____88  I8[    "" 88           88       88   88     88          88  8PP"""""""   `"Y8ba, 88           88       88   88,    88          88  "8b,   ,aa  aa    ]8I 88888888888  88       88   "Y888  88          88   `"Ybbd8"'  `"YbbdP"' ===============================================================================*/
.home_entry { position: fixed; top: 0; left: 0; margin: 0; padding: 0; box-shadow: 0.05rem 0.05rem 0.1rem rgba(50, 50, 50, 0.2); }

.home_entry .inner { position: relative; top: 0; left: 0; width: 100%; height: 100%; color: white; }

.home_entry h1, .home_entry p { position: relative; color: white; z-index: 20; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }

.home_entry h1 { font-size: 2rem; letter-spacing: 0.2rem; }

.home_entry [class^='button_'] { -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }

#home_play, #v_header.home_entry { height: -webkit-calc(100vh - 14vw); height: calc(100vh - 14vw); width: 86vw; margin: 7vw 0 0 7vw; background-color: #fffaf3; background-image: url(/assets/images/soft_wallpaper.png); background-repeat: repeat; background-position: top left; background-blend-mode: multiply; -webkit-animation-delay: 0.75s; animation-delay: 0.75s; }

#home_play .inner, #v_header.home_entry .inner { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; height: 100%; }

#home_play #home_play_logo, #v_header.home_entry #home_play_logo { width: 50vmin; height: auto; margin: auto; }

#home_about { height: -webkit-calc(100vh - 18vw); height: calc(100vh - 18vw); width: 72vw; margin-top: 13vw; margin-left: 21.5vw; background-image: url(/assets/images/team_pic_small.png); background-color: #4cb884; background-blend-mode: multiply; background-position: left; background-repeat: no-repeat; background-size: contain; -webkit-animation-delay: 0.5s; animation-delay: 0.5s; }

#home_about.bgHidden { background-image: url(); background-color: #4cb884; }

#home_about .inner { float: right; width: 34vw; height: 100%; margin-right: 2vw; margin-top: 8%; text-align: center; }

#home_about .inner p, #home_about .inner h1 { text-align: left; }

#home_about .inner p { margin: 3em 0 0 20%; }

#home_videos { height: -webkit-calc(100vh - 14vw); height: calc(100vh - 14vw); width: 80%; margin-top: 6vw; margin-left: 5vw; color: white; box-shadow: none; -webkit-animation-delay: 0.25s; animation-delay: 0.25s; }

#home_videos #home_interviews { position: relative; width: 45vw; padding: 3vw; text-align: center; box-shadow: 0.05rem 0.05rem 0.1rem rgba(50, 50, 50, 0.2); }

#home_videos #home_interviews h1, #home_videos #home_interviews p { position: relative; display: block; margin-top: 2vw; text-align: left; color: white; }

#home_videos #home_interviews h1 { margin-left: 4vw; }

#home_videos #home_interviews p { margin-left: 6vw; }

#home_videos #home_interviews .inner { top: -2vw; left: -2vw; }

#home_videos #home_films { position: absolute; top: 12vw; left: 30vw; width: 45vw; padding: 3vw; text-align: center; /*		.button { position: absolute; right: 2vw; bottom: 5vw; &::after { z-index: 1; } }*/ }

#home_videos #home_films h1 { margin-top: 3vw; margin-left: 7vw; text-align: left; }

#home_videos #home_films p { margin-top: 1vw; margin-left: 9vw; text-align: left; }

#home_videos #home_films::after { z-index: 1; }

#home_videos .pattern { position: absolute; bottom: -2vw; left: 0; mix-blend-mode: multiply; z-index: 20; width: 25vw; height: auto; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }

#home_videos .rome { position: absolute; top: 12.5vw; right: 2vw; width: 31vw; height: auto; mix-blend-mode: multiply; z-index: 20; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }

#v_header.home_entry { box-shadow: none; background: none; }

/* ================================================================================= ,ad8888ba,               88           88 d8"'    `"8b              ""           88 d8'                                     88 88             8b,dPPYba,  88   ,adPPYb,88 88      88888  88P'   "Y8  88  a8"    `Y88 Y8,        88  88          88  8b       88 Y8a.    .a88  88          88  "8a,   ,d88 `"Y88888P"   88          88   `"8bbdP"Y8 ===============================================================================*/
.is_scrollable { position: relative; }

/* ============================== FILTER ============================*/
#d_filter { position: fixed; top: 0; right: 5vw; width: 90vw; height: 5vw; max-width: 90%; background: white; z-index: 200; -webkit-transition: height 0.5s; transition: height 0.5s; }

#d_filter form { position: absolute; right: 0; bottom: 0.55rem; }

#d_filter input { position: relative; top: 0; right: 0; background: none; border: none; box-shadow: none; border-bottom: 0.5rem solid #9ab6f4; outline: none; font-size: 3rem; width: 30vw; color: #3a4bc1; -webkit-transition: all, 0.5s; transition: all, 0.5s; mix-blend-mode: multiply; }

#d_filter .lSearch { top: 25vh; right: 20vw; width: 50vw; background: none; }

#d_filter span { position: absolute; right: 0.5rem; bottom: 1rem; font-size: 3rem; font-weight: bold; color: #9ab6f4; opacity: 0; cursor: pointer; -webkit-transition: all 0.5s; transition: all 0.5s; }

#d_filter span.active { right: 21vw; top: 20vh; opacity: 1; }

#d_filter span.hideActive { opacity: 1; }

#d_filter #undo_search { position: absolute; right: 0.25rem; top: 1rem; font-size: 3rem; font-weight: bold; color: #9ab6f4; z-index: 50; }

/*==============================
Auto-Complete Filter
**============================*/
ul.ui-autocomplete { position: fixed; top: -webkit-calc(25vh + 1rem); top: calc(25vh + 1rem); left: 25vw; background: none; padding: 0.2rem; box-shadow: none; border: none; z-index: 200; }

ul.ui-autocomplete li.ui-menu-item { box-shadow: none; border: none; padding: 0.5rem; font-size: 2.5rem; color: #3a4bc1; list-style: none; cursor: pointer; text-shadow: 0.1rem 0.1rem 0.1rem rgba(55, 55, 55, 0.5); mix-blend-mode: multiply; font-family: header; }

ul.ui-autocomplete li.ui-menu-item .highlight { color: #4cb884; text-decoration: none; mix-blend-mode: multiply; }

ul.ui-autocomplete li.ui-menu-item a { color: #3a4bc1; mix-blend-mode: multiply; font-family: subhead; }

span[role="status"] { display: none; }

.noResults { background-image: url(/assets/images/bike.png); background-position: 20% 50%; background-repeat: no-repeat; background-attachment: fixed; }

.noResults::after { content: 'Nothing to see here, go find something else silly!'; display: block; position: absolute; top: 60%; left: 50%; }

/* =================================================================================================== 88888888888  88                                      ,ad8888ba,               88           88 88           88                                     d8"'    `"8b              ""           88 88           88                                    d8'                                     88 88aaaaa      88   ,adPPYba,  8b,     ,d8           88             8b,dPPYba,  88   ,adPPYb,88 88"""""      88  a8P_____88   `Y8, ,8P'  aaaaaaaa  88      88888  88P'   "Y8  88  a8"    `Y88 88           88  8PP"""""""     )888(    """"""""  Y8,        88  88          88  8b       88 88           88  "8b,   ,aa   ,d8" "8b,             Y8a.    .a88  88          88  "8a,   ,d88 88           88   `"Ybbd8"'  8P'     `Y8             `"Y88888P"   88          88   `"8bbdP"Y8 =================================================================================================*/
section[id^="flex_grid_"] { position: relative; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; width: 80vw; margin: -5vh auto 3vh auto; padding-bottom: 2rem; }

h1[id*="year_title_"] { position: relative; margin-left: 5vw; color: #9ab6f4; font-size: 8rem; margin: 0.5em 3vw; padding-top: 5.5vw; -webkit-transform: translateY(-5vw); -ms-transform: translateY(-5vw); transform: translateY(-5vw); z-index: 100; mix-blend-mode: multiply; }

#year_links { position: fixed; top: 7vw; right: 4.5vw; }

#year_links ul { list-style: none; }

#year_links li { list-style: none; margin-bottom: 2rem; }

#year_links a { color: #9ab6f4; font-family: subhead; }

/* ======================================================== ENTRY CLASS: Gets extended, never called directly. Useful for designer and team thumbnails. ======================================================*/
.entry, .design_entry, .film_entry { position: relative; display: block; margin: 0; padding: 0; mix-blend-mode: multiply; z-index: 5; }

.entry a, .design_entry a, .film_entry a { position: relative; display: block; top: 0; left: 0; height: 100%; width: 100%; overflow: hidden; }

.entry .entry_thumb_cont, .design_entry .entry_thumb_cont, .film_entry .entry_thumb_cont { position: relative; display: inline-block; margin-left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); width: auto; height: 100%; }

.entry .entry_thumb_cont img, .design_entry .entry_thumb_cont img, .film_entry .entry_thumb_cont img { position: relative; display: block; -webkit-transform-origin: center center; -ms-transform-origin: center center; transform-origin: center center; width: auto; height: 100%; -webkit-transition: all 0.5s; transition: all 0.5s; }

.entry .entry_title, .design_entry .entry_title, .film_entry .entry_title { position: absolute; top: 5%; left: 0; right: 0; text-align: center; padding: 0 1vw 0.5em 1vw; z-index: 50; -webkit-transition: all 0.5s; transition: all 0.5s; }

.entry .entry_title h3, .design_entry .entry_title h3, .film_entry .entry_title h3 { color: white; z-index: 100; }

.entry .entry_title span, .design_entry .entry_title span, .film_entry .entry_title span { color: white; padding: 0; margin: 0 auto; }

.entry:hover img, .design_entry:hover img, .film_entry:hover img { -webkit-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); -webkit-transition: -webkit-transform 8s; transition: transform 8s; }

.entry::after, .design_entry::after, .film_entry::after { content: ''; position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; mix-blend-mode: multiply; z-index: 6; }

/* ======================================================== Entries: Controls aspect ratios of entries as well as the multiplied color. ======================================================*/
.design_entry { width: 12vw; height: 18vw; }

.design_entry::after { background-color: #9ab6f4; }

.film_entry { width: 40vw; height: 26.66vw; }

.film_entry::after { background-color: #4cb884; }

/* ======================================================== ANIMATIONS ======================================================*/
.button, .button_green, .button_yellow { position: relative; display: inline-block; margin: 2vw auto 0 auto; padding: 0; box-shadow: 0.1rem 0.1rem 0.1rem rgba(50, 50, 50, 0.2); -webkit-transition: all 0.2s; transition: all 0.2s; }

.button a, .button_green a, .button_yellow a { position: relative; display: block; height: 100%; width: 100%; margin: 0; padding: 0.5rem 2rem; text-align: center; z-index: 20; }

.button span, .button_green span, .button_yellow span { margin: 0 auto; padding: 0; color: white; }

.button:hover, .button_green:hover, .button_yellow:hover { -webkit-transform: translateY(0.05rem); -ms-transform: translateY(0.05rem); transform: translateY(0.05rem); box-shadow: 0.05rem 0.05rem 0.1rem rgba(50, 50, 50, 0.2); }

.button:hover::after, .button_green:hover::after, .button_yellow:hover::after { mix-blend-mode: normal; background: white; }

.button_green:hover span { color: #4cb884; }

.button_yellow:hover span { color: #9ab6f4; }

#italia_content { width: 80vw; }

.italia_entry { position: fixed; top: 0; margin: 0; padding: 0; padding-top: 10rem; width: 80vw; color: white; }

.italia_entry .inner { position: relative; }

.italia_entry .v_title { position: absolute; top: 1.5rem; left: 2rem; zindex: 5; }

.italia_entry .v_thumbnail { position: relative; width: 100%; height: auto; zindex: 1; }

.italia_entry .v_description { position: absolute; top: 5rem; left: 2rem; zindex: 5; }

span.v_close_btn { position: fixed; top: 2vmin; left: 2vmin; display: inline-block; z-index: 2; font-family: body; font-weight: bold; }

span.v_close_btn a { text-decoration: none; color: black; }

/*=======================================================================

88888888ba   88
88      "8b  88
88      ,8P  88
88aaaaaa8P'  88  ,adPPYYba,  8b       d8   ,adPPYba,  8b,dPPYba,
88""""""'    88  ""     `Y8  `8b     d8'  a8P_____88  88P'   "Y8
88           88  ,adPPPPP88   `8b   d8'   8PP"""""""  88
88           88  88,    ,88    `8b,d8'    "8b,   ,aa  88
88           88  `"8bbdP"Y8      Y88'      `"Ybbd8"'  88
								 d8'
								d8'

**=====================================================================*/
#v_header, .v_header { position: fixed; top: 0; display: table; width: 100vw; max-width: 100%; height: 100vh; z-index: 0; -webkit-transition: background 0.5s; transition: background 0.5s; }

#v_container { position: relative; display: table-cell; vertical-align: middle; }

#v_title { position: absolute; top: 1.5vmin; left: 3vmin; z-index: 5; color: white; text-shadow: 0.1rem 0.1rem 0 #9ab6f4; opacity: 0; -webkit-transition: all 0.5s; transition: all 0.5s; }

#italia_content #v_wrapper { width: 100vw; max-width: 100%; opacity: 0; }

#v_wrapper { position: relative; display: block; padding-bottom: 42.86%; /* 21:9 */ width: 100%; height: 0; -webkit-transition: all 0.1s; transition: all 0.1s; }

#v_wrapper video, #v_wrapper #v_player { position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; }

#v_header.body_entry #v_wrapper { -webkit-transform-origin: top left; -ms-transform-origin: top left; transform-origin: top left; -webkit-transform: scale(0.7); -ms-transform: scale(0.7); transform: scale(0.7); }

/*====================
	VIDEO CONTROLS
**==================*/
.v_controls { position: fixed; display: block; top: 95vh; left: 0; width: 100vw; max-width: 100%; height: 2rem; margin: 0; padding: 0 3vw; z-index: 2; }

main.home .v_controls { top: initial; bottom: 9vw; left: 5vw; width: 86vw; max-width: 86%; padding: 0 2vw; opacity: 0; }

.v_control_elem, .v_play_btn_cont, .v_vol_btn_cont, .v_time_ind { float: left; height: 2rem; width: 2rem; z-index: 10; color: white; text-align: justify; padding: 0; margin: 0 0 0 0.5rem; }

.v_control_elem > button, .v_play_btn_cont > button, .v_vol_btn_cont > button, .v_time_ind > button { padding: 0.2em; width: 2rem; height: 2rem; border: 0; outline: none; background: black; border-radius: 0.5vmin; margin: 0; }

.v_control_elem svg, .v_play_btn_cont svg, .v_vol_btn_cont svg, .v_time_ind svg { fill: white; }

.v_vol_btn_cont .svg_volume_icon { -webkit-transform-origin: center left; -ms-transform-origin: center left; transform-origin: center left; }

.v_vol_btn_cont .svg_volume_icon .group_wave { fill-opacity: 1; -webkit-transition: all 0.5s ease-in; transition: all 0.5s ease-in; }

.v_vol_btn_cont .svg_volume_icon .mute_anim { -webkit-transform: translateX(-2rem); -ms-transform: translateX(-2rem); transform: translateX(-2rem); -webkit-transform: scale(0 0); -ms-transform: scale(0 0); transform: scale(0 0); fill-opacity: 0; }

.v_time_ind { float: right; width: 7em; opacity: 0; -webkit-transition: all 0.25s; transition: all 0.25s; }

#v_show_progress, #v_progress_bar { background: white; height: 0.5rem; margin: 0; padding: 0; -webkit-transition: width 0.1s; transition: width 0.1s; z-index: 2; }

#v_progress_bar { margin: 0.75rem 11rem 0 6rem; background: rgba(255, 255, 255, 0.3); z-index: 1; -webkit-transition: opacity 0.25s; transition: opacity 0.25s; }

/*========================================

88                 ad88
88                d8"
88                88
88  8b,dPPYba,  MM88MMM  ,adPPYba,
88  88P'   `"8a   88    a8"     "8a
88  88       88   88    8b       d8
88  88       88   88    "8a,   ,a8"
88  88       88   88     `"YbbdP"'

**======================================*/
section#v_content { position: relative; display: block; top: 110vh; width: 100vw; max-width: 100%; z-index: 1; }

#v_info { margin: 1em; }

#v_info .v_bio { position: relative; display: inline-block; float: right; width: 70vw; vertical-align: top; padding: 0 5vw; }

#v_info .v_bio .v_bio_photo { float: left; width: 50%; }

#v_info .v_bio .v_bio_text { float: right; width: 50vw; z-index: 8; }

#v_info .v_bio h2 { margin-bottom: 3rem; }

#v_chapters { position: relative; display: inline-block; float: right; vertical-align: top; padding-right: 5vw; z-index: 5; }

#v_chapters .v_chapter { position: relative; width: 20vw; height: auto; margin: 0 0 1em 0; padding: 0; box-shadow: 0 0 0.3em 0.1em rgba(50, 50, 50, 0.2); }

#v_chapters .v_chapter img { position: relative; display: block; width: 100%; height: auto; margin: 0; padding: 0; }

#v_chapters .v_chapter .v_rel_info { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 100%; margin: 0; padding: 0; text-align: center; color: white; }

#v_chapters .v_chapter .v_rel_info h3 { text-transform: uppercase; margin: 0; padding: 0; line-height: 1.3rem; }

#v_chapters .v_chapter .v_rel_info span { margin: 0; padding: 0; line-height: 1.3rem; }

/*=======================================================================

88b           d88                                   88
888b         d888                ,d                 ""
88`8b       d8'88                88
88 `8b     d8' 88  ,adPPYYba,  MM88MMM  8b,dPPYba,  88  8b,     ,d8
88  `8b   d8'  88  ""     `Y8    88     88P'   "Y8  88   `Y8, ,8P'
88   `8b d8'   88  ,adPPPPP88    88     88          88     )888(
88    `888'    88  88,    ,88    88,    88          88   ,d8" "8b,
88     `8'     88  `"8bbdP"Y8    "Y888  88          88  8P'     `Y8

**=====================================================================*/
#v_context { padding: 1em; }

#v_context p, #v_context .v_mat_transc_heading { width: 80vw; margin: 0 auto; }

#v_context a[class*="link"] { margin: 0; padding: 0; }

[class*="v_mat"] { margin: 0.5em; }

/*=========================
	IMAGES
**=======================*/
.v_mat_img_container { position: relative; display: inline-block; }

.v_mat_img_container .v_mat_img_box { overflow: hidden; z-index: 1; }

.v_mat_img_container .v_mat_img_box .v_mat_img_asset { position: relative; margin: 0; z-index: 2; -webkit-transition: 0s all; transition: 0s all; }

.v_mat_img_container .v_mat_img_box .v_mat_img_asset:hover, .v_mat_img_container .v_mat_img_box .v_mat_img_asset:focus, .v_mat_img_container .v_mat_img_box .v_mat_img_asset:active { -webkit-transform: scale(1.4, 1.4); -ms-transform: scale(1.4, 1.4); transform: scale(1.4, 1.4); -webkit-transition: 8s all ease-out; transition: 8s all ease-out; }

.v_mat_img_container .v_mat_img_caption { bottom: 0; width: 100%; margin: 0 0.5em; z-index: 2; }

/*=========================
	PULLQUOTES
**=======================*/
.v_mat_pull_container { width: 40%; display: inline-block; }

.v_mat_pull_container .v_mat_pull_link, .v_mat_pull_container .v_mat_pull { margin: 0; }

.v_mat_pull_container .v_mat_pull { font-size: 1.5em; line-height: 1.4em; }

/*=========================
	ALIGNMENT
**=======================*/
.left { float: left; }

.right { float: right; }

.center { margin: 0 auto; text-align: center; }

.drop_left { float: left; }

.drop_right { float: right; margin-right: 0; }

/*# sourceMappingURL=main.css.map */
