{#
# Team entry template
# ___________________
#
# This template gets loaded whenever a team entry’s URL is requested, because
# the team section’s Template setting is set to "team/_entry".
#
# An `entry` variable will be automatically passed to this template, which will
# be set to the requested Design entry.
_#}

{% extends "_layouts/site" %}
{% set title = entry.title %}
{% set bodyClass = "team-vid" %}
{% set portrait = entry.intPortrait.first %}

{% block head %}
	{{ parent() }}
	<meta property="og:site_name"	content="SFU italiaDesign field school" />
	<meta property="og:url"			content="{{entry.url}}" />
	<meta property="og:type"		content="profile" />
	{% if title is defined %}
		<meta property="og:title"	content="{{title}}" />
	{% endif %}
	{% if entry.videDescription is defined %}
		<meta property="og:description"	content="{{entry.videoDescription}}" />
	{% endif %}
	<meta property="og:image"		content="{{entry.intPortrait.first().url}}" />
{% endblock %}

{% block main %}
	{# ============= INTRODUCTION ================ #}
	<section id="v-intro" class="v-section is-scrollable">
		<img class="v-portrait" src="{{entry.portraitCollage.first().url()}}">
		<div id="v-contents">
			<h1 class="v-contents-title">{{entry}}</h1>
			<p class="quote">{{entry.nameHover}}</p>
		</div>
		<div id="v-description">
			<p class="v-chapter-desc">{{entry.videoDescription}}</p>
		</div>
	</section>
	{# ============= VIDEO ================ #}
	{% include "_includes/video_header" %}
	{# ============= MATRIX CONTENT ================ #}
	{% include "_includes/matrix_body" %}
	{% includeJsFile "http://d3js.org/d3.v3.min.js" %}
	{% includeJsFile "/js/stackGrid.js" %}
	{% includeJsFile "/js/videoPlayer.js" %}
	{% includeJsFile "/js/interview.js" %}
{% endblock %}
