{# # The site layout template
# ------------------------
#
# This layout template extends the _layouts/base.html layout, and defines the
# main site layout: the header, footer, and main content area.
#
# It’s never accessed directly. Instead it is extended by all of our main site
# templates.
#
# This template defines one block region, `main`, which should be extended by
# child templates to define the main contents for the page. -#}
{% extends "_layouts/base" %}
{# Define the site navigation #}
{% set nav = {
	"/": { title: "home"},
	films: { title: "films"},
	team: { title: "team"}
} %}
{# Set the `bodyClass` variable to the entry's section handle if there is one,
# or the first URI segment (this is used by the parent template)
#}
{% if bodyClass is not defined %}
	{% set bodyClass = entry is defined ? entry.section.handle : craft.request.firstSegment %}
{% endif %}
{# Set the `title` variable to the nav item that matches the first segment #}
{% if nav[bodyClass] is defined %}
	{% set title %}
		{% if title is defined %}
			{{ title }} -
		{% endif %}
		{{ nav[bodyClass].title }}
	{% endset %}
{% endif %}
{% block body %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52996031-5', 'auto');
  ga('send', 'pageview');

</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '517823885082231',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
	{% block nav %}
	{% cache globally %}
		<header class="header">
			<nav>
				<a class="home-btn" href="/"></a>
				<ul>
					{% for slug, item in nav %}
					<li>
						<a href="{{ url(slug) }}" {% if loop.first %} class="home-btn" {% endif %} class="{{ craft.request.firstSegment == slug ? 'sel'}}">
							<span class="navLink">
								{{ item.title }}
							</span>
						</a>
					</li>
					{% endfor %}
				</ul>
			</nav>
		</header>
	{% endcache %}
	{% endblock %}

	<main id="main" role="main" class="{{bodyClass}}">
		<noscript><div class="no-js">
			<img src="/assets/images/sad_computer.jpg" />
			<div>
				<h1>Our javascript!<br /> Its not working!</h1>
				<p>
					This site requires javascript. If your browser doesn't support javascript, consider downloading <a href="https://www.google.com/chrome/">chrome</a> or switching devices.
				</p>
			</div>
		</div></noscript>
		{% block main %}{% endblock %}
	</main>

{% endblock %}
{% block foot %}
{% includeJsFile "https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" first %}
{% includeJsFile "/js/scroll-up-bar.min.js" %}
{% includeJsFile "/js/ls.unveilhooks.min.js" %}
{% includeJsFile "https://cdnjs.cloudflare.com/ajax/libs/lazysizes/2.0.1/lazysizes.min.js" %}
{% includeJsFile "/js/allPages.js" %}
{% includeJsFile "/js/jquery.fittext.js" %}
{% endblock %}
