//Base button, gets extended

.button {
	position  : relative;
	display   : inline-block;
	margin    : 1em 1em 1em 0;
	font-family: "SubHeadAlt", "SubHead", arial, sans-serif;
	color     : white;
	text-align: center;
	z-index   : 10;
	font-size: 1.6em;
	line-height: 1;
	@include respond-to(laptop) {
		font-size: 1.2em;
	}

	span {
		position: relative;
		display : inline-block;
		z-index : 20;
	}
}

.button-green {
	@extend .button;

	&::before {
		background-color: darken($color1, 10%);
	}
}

.button-blue {
	@extend .button;

	&::before {
		background-color: darken($color2, 10%);
	}
}

/*********************************************************

888b     d888          888            d8b
8888b   d8888          888            Y8P
88888b.d88888          888
888Y88888P888  8888b.  888888 888d888 888 888  888
888 Y888P 888     "88b 888    888P"   888 `Y8bd8P'
888  Y8P  888 .d888888 888    888     888   X88K
888   "   888 888  888 Y88b.  888     888 .d8""8b.
888       888 "Y888888  "Y888 888     888 888  888

*********************************************************/

//Context information - it's contained in the matrix fields everything is styling.
#v-context {
	display        : flex;
	flex-flow      : row wrap;
	justify-content: space-between;
	align-items    : center;
	align-content  : flex-start;
	padding        : 1em 0;
	margin         : 5vw 6vw 0;
	width          : 88vw;
	box-shadow     : none;
	z-index        : 1;
	@include respond-to(tablet) {
		padding   : 1em 1em calc(20vh + 1em);
		margin    : 8vw 0 0 8vw;
		width     : 86vw;
		box-shadow: none;
	}
}

/* ===========================
 *		6 COLUMN GRID
 * =========================*/

$gutter: 2vw;
$gutter-half: $gutter / 2;
$columns: 6;
@mixin grid-column($columns-to-span: 6, $total-columns: 6) {
	width  : 100%;
	height : auto;
	margin : 0 0 2em;
	padding: $gutter-half 0;
	@include respond-to(laptop) {
		width  : $columns-to-span / $total-columns * 100%;
		padding: $gutter-half;
		margin : 0 0 4rem;
	}
}
@for $i from 1 through $columns {
	.col-#{$i} {
		@include grid-column($i, $columns);
	}
}

.o-left {
	@include respond-to(tablet) {
		transform: translateX(-5vw) !important;
		z-index  : 5;
	}
}

.o-right {
	@include respond-to(tablet) {
		transform: translateX(5vw) !important;
		z-index  : 5;
	}
}

a[class*="link"] {
	margin : 0;
	padding: 0;
}

.qa {
	position        : relative;
	display         : block;
	padding         : 2em;
	margin          : 1em 0;
	z-index         : 10;
	background-color: $color1T;
	transition      : background-color 0.5s;
	// mix-blend-mode  : multiply;
	@include respond-to(laptop) {
		//			height: 60vh;
		padding: 2em;
		margin : 20vh 0 0;
	}
}

/*=========================
IMAGES
**=======================*/

.v-mat-img {
	width  : 100%;
	height : auto;
	margin : 0;
	padding: 0;
	@include respond-to(laptop) {
		// box-shadow: 0.5rem 0.5rem 0 0.1em $color3T;
	}
}

.v-mat-img-container {
	background: $color3T;
	font-size : 0;
	padding   : 0;
	margin    : 1rem 0;
	transition: background-color 0.5s;
	@include respond-to(laptop) {
		margin: 0;
	}

	.v-mat-img-caption {
		bottom : 0;
		width  : 100%;
		margin : 0 0.5em;
		z-index: 2;
	}
}

/*=========================
PULLQUOTES
**=======================*/

div.v-mat-pull-container {
	background: $color1T;
	padding   : 5vw;
	margin    : 1em 0;
	@include respond-to(tablet) {
		padding: 2vw;
		margin : 0;
	}

	.v-mat-pull {
		margin     : 0;
		text-indent: -0.4em;
		font-size  : 1.5em;
		line-height: 1.4;
		color      : white;
		font-family: "Header2", Arial, sans-serif;
	}

	&:last-of-type {
		background: blue;
		.v-mat-pull {
			text-indent: 0em;
		}
	}
}

/*=========================
ALIGNMENT
**=======================*/

/*.left {
	float: left;
}

.right {
	float: right;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.drop-left {
	float: left;
	//TODO: Figure out the crazy fucking solution for the drop alignments...
}

.drop-right {
	float: right;
	margin-right: 0;
}*/
