{#
# Design entry template
# ___________________
#
# This template gets loaded whenever a Design entry’s URL is requested, because
# the Design section’s Template setting is set to "design/_entry".
#
# An `entry` variable will be automatically passed to this template, which will
# be set to the requested Design entry.
_#}

{% extends "_layouts/site" %}
{% set i = 0 %}
{% set title = entry.title %}
{% set bodyClass = entry.type == 'interviewVideo' ? 'v autoplay' : 'v' %}
{% set autoplay = craft.request.queryString == "?autoplay" ? true : false %}

{% if entry.type == 'designer' and entry.videoYear == '2016' %}
	{% set children = entry.children %}
	{% set location = entry.children.first.url %}
	{% redirect location %}
{% elseif entry.type == 'interviewVideo' and entry.videoYear == '2016' %}
	{% set children = entry.parent.children %}
{% endif %}
{% if entry.type == "designer" %}
	{% set portrait = entry.intPortrait.first %}
{% elseif entry.type=="interviewVideo" %}
	{% set portrait = entry.parent.intPortrait.first %}
{% endif %}

{% if entry.type == 'interviewVideo' %}
	{% set collage = entry.parent.portraitCollage.first() %}
	{% set transformedCollage = craft.imager.transformImage(
		collage, [
		{ width: 700 },
		{ width: 460 },
		{ width: 350, pngCompressionLevel: 4 }
		])
	%}
{% endif %}

{% block head %}
	{{ parent() }}
	<meta property="og:site_name"	content="SFU italiaDesign field school" />
	<meta property="og:url" content="{{entry.url|replace(craft.request.queryString, '')}}" />
	<meta property="og:type" content="video.other" /><meta property="og:title"	content="{% if entry.parent.nameFull is defined %}{{entry.parent.nameFull}}{% endif %}{% if title is defined %}: {{title}}" />{% endif %}
	{% if entry.videDescription is defined %}
		<meta property="og:description"	content="{{entry.videoDescription}}" />
	{% endif %}
	<meta property="og:image"		content="{{entry.videoThumbnail.first().url}}" />
	<meta property="og:image:width" content="1920" />
	<meta property="og:image:height" content="1080" />
{% endblock %}

{% block main %}
	{# ============= INTRODUCTION ================ #}
	{% if children is defined %}
		<section id="v-intro" class="v-section is-scrollable" {{autoplay == "true" ? 'style="opacity: 1;"' : 'style="opacity: 0;"' }}>
			<img id="collage"
				sizes="(min-width: 1024px) 36vw, (min-width: 700px) 86vw, 100vw"
				srcset="{{ craft.imager.srcset(transformedCollage) }}"
				src="{{ craft.imager.base64Pixel(16, 9) }}" />
			<div id="v-contents">
				<h1 class="v-contents-title">interview chapters</h1>
				<div class="v-chapter-container">
					<div id="v-chapter-ind"></div>
					{% cache %}
						{% for i in 0..(children|length-1) %}
							<div class="v-chapter" data-chapter="{{i}}" data-offset="{{i*3}}">
								<a {% if craft.request.url == children.nth(i).url %} onclick="autoplayVid()" {% else %}href="{{children.nth(i).url}}?autoplay" {% endif %} class="navLink">
									<span class="v-chapter-number">{{i+1}}</span>
									<span class="v-chapter-title nav">{{children.nth(i)}}</span>
									<span class="v-chapter-duration">{{children.nth(i).videoDuration}}</span>
								</a>
							</div>
						{% endfor %}
					{% endcache %}
				</div>
			</div>
			<div id="v-description">
				{% cache %}
					{% for i in 0..(children|length-1) %}
						<div class="inner {{children.nth(i) == children.first() ?'':'dHidden'}}">
							<h1 class="v-chapter-title">{{children.nth(i)}}</h1>
							<p class="v-chapter-desc">{{children.nth(i).videoDescription}}</p>
						</div>
					{% endfor %}
				{% endcache %}
			</div>
		</section>
	{% endif %}

	{# ============= VIDEO ================ #}
	{% if not entry.children|length %}
		{% include "_includes/video_header" with {'autoplay' : autoplay} %}
	{% endif %}

	{# ============= MATRIX CONTENT ================ #}
	{% cache using key entry.id + '-3' %}
		{% include "_includes/matrix_body" %}
	{% endcache %}
{% endblock %}
{% block foot %}
	{{ parent() }}
	{% includeJsFile "http://d3js.org/d3.v3.min.js" %}
	{% includeJsFile "/js/stackGrid.js" %}
	{% includeJsFile "/js/videoPlayer.js" %}
	{% includeJsFile "/js/interview.js" %}
{% endblock %}
