{#
# Design entry template
# ___________________
#
# This template gets loaded whenever a Design entry’s URL is requested, because
# the Design section’s Template setting is set to "design/_entry".
#
# An `entry` variable will be automatically passed to this template, which will
# be set to the requested Design entry.
_#}

{% extends "_layouts/site" %}
{% set title = entry.title %}
{% set bodyClass = entry.type == 'interviewVideo' ? 'child v' : 'v' %}
{% set children = entry.type == 'designer' ? entry.children : entry.parent.children %}
{% if entry.type == "designer" %}
	{% set portrait = entry.intPortrait.first %}
{% else %}
	{% set portrait = entry.parent.intPortrait.first %}
{% endif %}

{% block main %}
	{# ============= INTRODUCTION ================ #}
	{% if entry.children|length or entry.siblings|length < 10 %}
		<section id="v-intro" class="v-section is-scrollable {{entry.videoYear == '2016' ? 'v21-9' : 'v16-9'}}">
			<div id="v-contents">
				<h1 class="v-contents-title">interview chapters</h1>
				<div id="v-chapter-ind"></div>
				{% for i in 0..(children|length-1) %}
					<div class="v-chapter" data-chapter="{{i}}" data-offset="{{i*3}}">
						<a href="{{children.nth(i).url}}#v-header">
							<span class="v-chapter-number">{{i+1}}</span>
							<span class="v-chapter-title">{{children.nth(i)}}</span>
							<span class="v-chapter-duration">{{children.nth(i).videoDuration}}</span>
						</a>
					</div>
				{% endfor %}
			</div>
			<div id="v-description">
				{% for i in 0..(children|length-1) %}
					<div class="inner {{children.nth(i) == children.first() ?'':'dHidden'}}">
						<h1 class="v-chapter-title">{{children.nth(i)}}</h1>
						<p class="v-chapter-desc">{{children.nth(i).videoDescription}}</p>
					</div>
				{% endfor %}
			</div>
		</section>
	{% endif %}
	{# ============= VIDEO ================ #}
	{% include "_includes/video_header" %}

	{# ============= MATRIX CONTENT ================ #}
	{% include "_includes/matrix_body" %}
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script src="/js/entryIndex.js"></script>
	<script src="/js/videoPlayer.js"></script>
	<script src="/js/interview.js"></script>
{% endblock %}




