{#
# Design entry template
# ___________________
#
# This template gets loaded whenever a Design entry’s URL is requested, because
# the Design section’s Template setting is set to "design/_entry".
#
# An `entry` variable will be automatically passed to this template, which will
# be set to the requested Design entry.
_#}

{% extends "_layouts/site" %}
{% set i = 0 %}
{% set title = entry.title %}
{% set bodyClass = entry.type == 'interviewVideo' ? 'v autoplay' : 'v' %}
{% set children = entry.type == 'designer' ? entry.children : entry.parent.children %}
{% if entry.type == "designer" %}
	{% set portrait = entry.intPortrait.first %}
{% else %}
	{% set portrait = entry.parent.intPortrait.first %}
{% endif %}

{% block head %}
	{{ parent() }}
	<meta property="og:site_name"	content="SFU italiaDesign field school" />
	<meta property="og:url"			content="{{entry.url}}" />
	<meta property="og:type"		content="{{entry.type == 'designer' ? 'profile' : 'video.other'}}" />
	{% if title is defined %}
		<meta property="og:title"	content="{{title}}" />
	{% endif %}
	{% if entry.videDescription is defined %}
		<meta property="og:description"	content="{{entry.videoDescription}}" />
	{% endif %}
	<meta property="og:image"		content="{{entry.type == 'designer' ? entry.intPortrait.first().url : entry.videoThumbnail.first().url}}" />
{% endblock %}

{% block main %}
	{# ============= INTRODUCTION ================ #}
	{% if children|length %}
		<section id="v-intro" class="v-section is-scrollable">
			<div id="v-contents">
				<h1 class="v-contents-title">interview chapters</h1>
				<div class="v-chapter-container">
					<div id="v-chapter-ind"></div>
					{% cache %}
						{% for i in 0..(children|length-1) %}
							<div class="v-chapter" data-chapter="{{i}}" data-offset="{{i*3}}">
								<a href="{{children.nth(i).url}}#v-header">
									<span class="v-chapter-number">{{i+1}}</span>
									<span class="v-chapter-title">{{children.nth(i)}}</span>
									<span class="v-chapter-duration">{{children.nth(i).videoDuration}}</span>
								</a>
							</div>
						{% endfor %}
					{% endcache %}
				</div>
			</div>
			<div id="v-description">
				{% cache %}
					{% for i in 0..(children|length-1) %}
						<div class="inner {{children.nth(i) == children.first() ?'':'dHidden'}}">
							<h1 class="v-chapter-title">{{children.nth(i)}}</h1>
							<p class="v-chapter-desc">{{children.nth(i).videoDescription}}</p>
						</div>
					{% endfor %}
				{% endcache %}
			</div>
		</section>
	{% endif %}

	{# ============= VIDEO ================ #}
	{% include "_includes/video_header" %}

	{# ============= MATRIX CONTENT ================ #}
	{% cache using key entry.id + '-3' %}
		{% include "_includes/matrix_body" %}
	{% endcache %}
{% endblock %}
{% block foot %}
	{{ parent() }}
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script src="/js/stackGrid.js"></script>
	<script src="/js/videoPlayer.js"></script>
	<script src="/js/interview.js"></script>
{% endblock %}
