{#
 # Design Index template
 # _________________________
 #
 # This template gets loaded whenever the Design index is requested, because
 # the Design Index single_entry section's Template setting is set to
 # "design/_index".
 #
 # An `entry` variable will be automatically passed to this template, which will
 # be set to the Design Index entry.
 #}

{% extends "_layouts/site" %}
{% set bodyClass = "design" %}
{% set years = [2016, 2015, 2014, 2013, 2012] %}
{% set entryYears = [] %}

{% block head %}
	{{ parent() }}
	<meta property="og:site_name" content="SFU italiaDesign field school" />
	<meta property="og:url" content="{{entry.url}}" /> {% if title is defined %}
	<meta property="og:title" content="{{title}}" /> {% endif %}
	<meta property="og:description" content="Dieci: 10 years of italiaDesign" />
{% endblock %}

{# =========================== Filter Form =========================== #}
{% block main %}
	<div id="bg"></div>
	<div id="d-filter">
		<form id="searchForm">
			<div id="search-btn">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1000 1000">
					<path d="M968.2,849.4L667.3,549c83.9-136.5,66.7-317.4-51.7-435.6C477.1-25,252.5-25,113.9,113.4c-138.5,138.3-138.5,362.6,0,501C219.2,730.1,413.2,743,547.6,666.5l301.9,301.4c43.6,43.6,76.9,14.9,104.2-12.4C981,928.3,1011.8,893,968.2,849.4z M524.5,522c-88.9,88.7-233,88.7-321.8,0c-88.9-88.7-88.9-232.6,0-321.3c88.9-88.7,233-88.7,321.8,0C613.4,289.4,613.4,433.3,524.5,522z"
					/>
				</svg>
			</div>
			<input id="search" type="search" size="13" placeholder="type to search">
			<div id="close-btn">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 71.65 71.65">
			    <path d="M7.07 7.07l57.51 57.51m0-57.51L7.07 64.58"/>
				</svg>
			</div>
		</form>
	</div>

	{# ===================== Find Entries Logic ===================== #}
	{# One year at a time #}
	{% cache %}
	{# {% cache unless craft.config.devMode %} #}
		{% for year in years %}
			{# Find your entries #}
			{% set entries = craft.entries({
				section: 'design',
				type: ['designer', 'shortFilm'],
				videoYear: year,
				with: [
					'disciplines',
					'secondaryTags',
					'intPortrait',
					'videoThumbnail',
					'iosThumbnail'
				]
			}) %}
{# =================== Display Entries =================== #}
			{% if entries | length %}
				{% set entryYears = entryYears|merge([year]) %}
				<section id="flex-grid-{{year}}" class="flexbox-grid clearfix">
					{% if year == '2016' %}
						<article id="page-info">
							<div>
								<p>{{entry.body}}</p>
							</div>
							<h1 id="year-title-2016" class="active">{{year}}</h1>
						</article>
					{% else %}
						<h1 id="year-title-{{year}}">{{year}}</h1>
					{% endif %}
					{% for entry in entries %}
						<article class="{{entry.type == 'shortFilm' ? 'film-entry' : 'design-entry'}} {{entry.videoYear >= '2015' ? 'v21-9' : 'v16-9'}} item" data-title="{{entry.title}}" {% if entry.nameFull|length %} data-name="{{entry.nameFull}}" {% endif %} {% if entry.nameCompany|length %} data-company="{{entry.nameCompany}}" {% endif %} data-tags="{% for tag in entry.disciplines %}{{tag}}{{tag == entry.disciplines[entry.disciplines|length - 1] ? '' :','}}{% endfor %}" {% if entry.secondaryTags|length %} data-topics="{% for tag in entry.secondaryTags %}{{tag}}{{tag == entry.secondaryTags[entry.secondaryTags|length - 1] ? '' :','}}{% endfor %}" {% endif %} data-show="true" >
{# =================== Card Images =================== #}
							{% if entry.type == "interviewVideo" %}
								{% set image = entry.parent.intPortrait %}
							{% elseif entry.type == 'designer' %}
								{% set image = entry.intPortrait[0] ?? null %}
							{% elseif entry.type == 'shortFilm' %}
								{% set video = entry.videoThumbnail[0] ?? null %}
								{% set iosThumb = entry.iosThumbnail[0] ?? null %}
							{% endif %}
							{% if entry.type != 'shortFilm' and image %}
								{% set transformedPortrait = craft.imager.transformImage(
									image, [
									{ width: 250 },
									{ width: 150 }
									], {ratio: 2/3, position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%'})
								%}
								{% set transformedLandscape = craft.imager.transformImage(
									image, [
									{ width: 288, pngCompressionLevel: 4}
									], {ratio: 2/1, position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%'})
								%}
							{% endif %}
							<a href="{{ entry.children|length ? entry.children.first.url : entry.url }}">
								<div class="entry-thumb-cont">
									{% if entry.type == 'shortFilm' %}
										<video class="lazyload" autoplay loop muted data-poster="{{iosThumb.url}}" preload="none">
											<source src="{{ video.url }}" type="video/mp4">
										</video>
										<img class="iosThumb" src="{{ iosThumb.url }}" />
									{% else %}
										<picture>
											<source
												data-srcset="{{transformedPortrait[1]}}"
												data-src="{{transformedPortrait[1]}}"
												media="(min-width: 700px)" />
											<source
												data-srcset="{{transformedPortrait[0]}}"
												data-src="{{transformedPortrait[0]}}"
												media="(min-width: 480px)" />
											<source
												data-srcset="{{transformedLandscape[0]}}"
												data-src="{{transformedLandscape[0]}}"/>
											<img class="lazyload"
												data-srcset="{{transformedPortrait[1]}}"
												srcset="{{ craft.imager.base64Pixel(16, 9) }}"
												src="{{ transformedPortrait[1] }}"
											/>
										</picture>
									{% endif %}
{# =================== Card Info =================== #}
								</div>
								{% if entry.type == 'shortFilm' %}
									<div class="entry-description">
										{{entry.videoDescription}}
									</div>
									<span class="entry-meet">watch film</span>
								{% elseif entry.type == 'designer' %}
									<ul class="entry-tags">
										{% for tag in entry.disciplines %}
											<li> {{ tag }} </li>
										{% endfor %}
										{% for topic in entry.secondaryTags %}
												<li>{{topic}}</li>
										{% endfor %}
										<li>
											{#<svg xmlns="http://www.w3.org/2000/svg" viewBox="1161 1006.7 25 40.5">
											  <path d="M1173.5 1047c-.9-4.5-2.5-8.3-4.5-11.8-1.5-2.6-3.2-5-4.7-7.5-.5-.8-1-1.7-1.5-2.6-1-1.7-1.8-3.8-1.8-6.4.1-2.6.8-4.6 1.9-6.3 1.8-2.8 4.7-5 8.6-5.6 3.2-.5 6.2.3 8.4 1.6 1.8 1 3.1 2.4 4.1 4 1.1 1.7 1.8 3.7 1.9 6.3 0 1.3-.2 2.6-.5 3.6s-.8 1.9-1.3 2.8c-.9 1.8-2 3.4-3 5.1-3.2 4.9-6.2 9.9-7.6 16.8z"/>
											</svg>#}
											<span class="entry-location">{{entry.location is defined ? entry.location|lower}}</span>
										</li>
									</ul>
									<span class="entry-meet">meet {{entry.nameHover}}</span>
								{% endif %}
								<div class="entry-title">
									<h1>{{ entry }}</h1>
								</div>
							</a>
						</article>
						{% if random(1) == 0 %}
							<article class="design-entry item blank" data-show="true"></article>
						{% endif %}
					{% endfor %}
				</section>
			{% else %}
				{# <p>That's strange, we couldn't find anything, our bad. Maybe try looking for something else? We will fix this ASAP!</p> #}
			{% endif %}
		{% endfor %}{# end for year #}
	{% endcache %}
	<div id="year-links">
		<div class="mobile-year-menu">year
			<div class="arrow-down"></div>
		</div>
		<ul>
			{% cache %}
				{% for year in entryYears %}
				<li>
					<a href="#year-title-{{year}}" class="{{year == 2016 ? 'active'}}">
								{{year}}
							</a>
				</li>
				{% endfor %}
			{% endcache %}
		</ul>
	</div>
{% endblock %}

{% block foot %}
	{{ parent() }}
	{% includeJsFile "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" %}
	{% includeJsFile "/js/continuousGrid.js" %}
	{% includeJsFile "/js/designIndex.js" %}
{% endblock %}
