{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/site" %}
{% set bodyClass = "home" %}
{% set collage1 = entry.aboutImage.first() %}
{% set collage2 = entry.interviewsImage.first() %}
{% set transformedCollage1 = craft.imager.transformImage(
	collage1, [{ width: 775 }, { width: 550 }, { width: 400 }],
	{ position: collage1.focusPctX ~ '% ' ~ collage1.focusPctY ~ '%' })
%}
{% set transformedCollage2 = craft.imager.transformImage(
	collage2, [{ width: 1350 }, { width: 700 }, { width: 400 }],
	{ position: collage2.focusPctX ~ '% ' ~ collage2.focusPctY ~ '%' })
%}
{% block main %}
	{% cache %}
		{% set index = 0 %}
		<section id="home-play" class="home-section is-scrollable">
			<div class="inner">
				{# This is just for now until the play stuff is implemented #}
				<img id="home-play-logo" src="/assets/images/Logo.png">
			</div>
		</section>
		<section id="home-about" class="home-section">
			<div class="inner scrollHide">
				{{entry.aboutPreview}}
				<a href="/team" class="button-green">
					<span>meet the team</span>
				</a>
			</div>
			<img class="collage scrollHide" srcset="{{ craft.imager.srcset(transformedCollage1) }}"
				sizes="(min-width: 1024px) 40vw, 100vw" src="{{collage1.url}}" />
		</section>
		<section id="home-videos" class="home-section">
				<div class="inner scrollHide">
					{{entry.interviewsPreview}}
					<a href="/film" class="button-blue">
						<span>explore videos</span>
					</a>
				</div>
				<img class="collage scrollHide" srcset="{{craft.imager.srcset(transformedCollage2) }}" sizes="(min-width: 1024px) 65vw, 100vw" src="{{collage2.url}}" />
		</section>
		{% include "_includes/video_header" %}
	{% endcache %}
{% endblock %}
{% block foot %}
{{ parent() }}
{% includeJsFile "http://d3js.org/d3.v3.min.js" %}
{% includeJsFile "/js/stackGrid.js" %}
{% includeJsFile "/js/videoPlayer.js" %}
{% endblock %}
