{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/site" %}
{% set bodyClass = "homepage" %}

{% block main %}
	<article>
		{% set index = 0 %}
		<section id="home_content">
			<div id="home_play" class="home_entry is_scrollable">
				<div class="inner">
					{# This is just for now until the play stuff is implemented #}
					<img id="home_play_logo" src="/assets/images/logo.png">
				</div>
			</div>
			{% for entry in craft.entries.section('italia') %}
				<div id="entry_{{index}}" class="italia_entry {{index == 0 ? 'is_scrollable'}}">
					<div class="inner">
						<h2 class="v_title">{{entry}}</h2>
						<img class="v_thumbnail" src="{{entry.videoThumbnail.first().url}}" alt="{{entry}}">
						<p class="v_description">{{entry.videoDescription}}</p>
					</div>
				</div>
				{% set index = index + 1 %}
			{% endfor %}

			{# 	HARD CODED VIDEO BLOCK, REMOVE ME LATER... 	#}

			<div id="v_header">
				<div id="v_container">
					<div id="v_wrapper">
						<h3 id="v_title">TEST TITLE</h3>
						<video id="v_player" src="https://player.vimeo.com/external/102706653.hd.mp4?s=0290a2147e7d135885393315daad7b08a1f8ea19&profile_id=119" poster="http://dev.sfuitaliadesign.com/assets/images/image_thumbnail.jpg">
								Oops! Your browser doesn't support the video tag. Consider downloading <a href="https://www.google.com/chrome/browser/desktop/index.html">Chrome</a>.
						</video>
					</div>
				</div>
				<div class="v_controls">
					<div class="v_play_btn_cont js_button">
						<button class="v_play_btn">
							<svg width="100%" height="100%" viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg">
								<defs>
									<path id="pause_icon" data_state="playing" d="M11,10 L17,10 17,26 11,26 M20,10 L26,10 26,26 20,26" />
									<path id="play_icon"  data_state="paused"  d="M11,10 L18,13.74 18,22.28 11,26 M18,13.74 L26,18 26,18 18,22.28" />
								</defs>
								<use xlink:href="#play_icon" />
							</svg>
						</button>
					</div>
					<div class="v_vol_btn_cont">
						<button class="v_vol_btn">
							<svg class="svg_volume_icon" width="100%" height="100%" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
								<g>
									<polygon class="speaker" fill="#fff" points=" 21.517,66 44,87.208 44,12.791 21.517,34 0,34 0,66 " transform="matrix(0.57539192,0,0,0.57539192,3.3431808,3.2306919)" />
									<g class="group_wave">
										<path class="wave_l" fill="#fff" d="m 37.991813,22.751636 _3.083782,3.083783 c 1.588254,1.572528 2.571897,3.753462 2.571897,6.164853 0,2.410848 _0.983643,4.592324 _2.571897,6.16431 l 3.083782,3.083782 c 2.364757,_2.368011 3.82775,_5.637242 3.82775,_9.248093 0,_3.611392 _1.462993,_6.880083 _3.82775,_9.248636 z" />
										<path class="wave_c" fill="#fff" d="m 50.496123,32 c 0,_6.005432 _2.440672,_11.440956 _6.383379,_15.369023 L 41.05987,19.68385 c 3.149937,3.15319 5.097703,7.506925 5.097703,12.31615 0,4.808682 _1.948309,9.162417 _5.097703,12.31615 l 3.052874,3.052873 C 48.055451,43.440956 50.496123,38.005431 50.496123,32 z" />
										<path class="wave_r" fill="#fff" d="m 59.173768,32.000271 c 0,_8.402181 _3.412386,_16.006711 _8.925453,_21.505137 l _3.068057,3.068056 c 4.72843,4.713247 7.654417,11.233274 7.654417,18.437081 0,7.203264 _2.925987,13.723833 _7.654417,18.436538 l 3.068057,3.068057 c 5.513067,_5.497884 8.925453,_13.102957 8.925453,_21.504595 z" />
									</g>
								</g>
							</svg>
						</button>
					</div>
					<div class="v_time_ind">
						<span class="v_cur_time">00:00</span> / <span class="v_duration">00:00</span>
					</div>
					<div id="v_progress_bar">
						<div id="v_show_progress"></div>
					</div>
				</div>
			</div>
		</section>
	</article>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script src="/js/entryIndex.js"></script>
{% endblock %}
